[2017-04-04 05:11] batpad opened #1 "Test authentication work-flow"

[2017-04-05 12:13] rasagy opened #2 "User feedback + Design Directions"
Last month, we did a short user feedback session with the data team that have been actively using OSMCha for the daily validation work. Using this ticket to document what was discussed and planning next steps.

Here are the key pain points that were highlighted in the conversation:

### BBox + Filter

- **Favorite filters**: No easy way to keep track of filter combinations that one might use regul

[2017-04-05 12:17] rasagy commented on #2
### Next actions:
- [ ] Document common workflows (Why do most users come to OSMCha for? How do they use OSMCha?)
- [ ] Sketch out ideas for the overall flow
- [ ] Sketch out ideas for specific parts of the flow — homepage (list of changesets), filter section, changeset details.

[2017-04-12 06:05] ajithranka opened #9 "Using a component library"
To speed up design & development time, I think it might be useful to rely on a react component library instead of using assembly. AFAIK, assembly does not have an extensive library of React components.

Let's assess these

- React Bootstrap: https://react-bootstrap.github.io/components.html
- React Material UI: http://www.material-ui.com/#/components/app-bar
- React Semantic UI: http://react.seman

[2017-04-12 07:25] kepta commented on #9
Semantic UI 👍

[2017-04-12 16:54] lukasmartinelli commented on #9
**I would try to make it work with Assembly CSS** and build your own components if you need to.
You will start to build out your own components once you progress in the development anyway.
It's also not that much gain for many basic components from an external library.

A lot of complex components can also be find as separate library - instead of relying on a huge component library.

[2017-04-13 07:09] rasagy commented on #9
Based on a quick huddle yesterday evening with @kepta, @ajithranka & @batpad, it makes more sense to invest time in using Assembly: it brings us closer to our vision of a cohesive design language across such internal/open tools, and also helps us dog-food and share feedback with the Assembly team. As @lukasmartinelli said, let’s make it work with Assembly CSS. 🎉

I had a quick chat with @samanpwbb

[2017-04-14 05:43] ajithranka commented on #9
Closing. We'll go ahead with assembly.

[2017-04-14 05:43] #9 closed

[2017-04-17 06:56] ajithranka commented on #2
List of UI components based on current OSMCHA.

- Header
  - Changesets page / Features page toggle
  - Link to Stats page
  - Link to About page
  - Login with OpenStreetMap
- Changesets page
  - Changeset filters
  - Changesets list view with pagination
  - Changeset master view
    - Changeset description with toolbar
    - Changeset filters
    - Changeset map
- Features page
  - Feature filte

[2017-04-18 11:08] rasagy commented on #2
Late last week, I did short contextual inquiries with 3 folks from the Mapbox Data Team. Here are the [raw notes](https://gist.github.com/rasagy/38bafd7f32920f6b0119b212da29aae5), with interesting pointers on homepage, which filters are used more often, what’s important in the changeset list, and workflow patterns. Will be referring to these in detail when we start designing specific flows.

[2017-04-18 11:23] rasagy commented on #2
Some more feedback in the wild (OSM-talk, Diary post comments) on OSMCha or the needs of such a tool is in [this gist](https://gist.github.com/rasagy/1f306599b3a6d10cd026870a7e147b0a), will keep updating as I come across more such feedback. cc @planemad @maning

[2017-04-18 12:31] rasagy opened #11 "Workflow and UI directions"
I got started with some quick thumbnail sketches to highlight key information+states for each step of the flow, and explore UI patterns that we can use.

![osmcha - collection of concepts](https://cloud.githubusercontent.com/assets/1117531/25128534/c1a12a40-2457-11e7-81a0-2f5a17516ce0.png)

## Details of each concept

![osmcha-concepts - a](https://cloud.githubusercontent.com/assets/1117531/251285

[2017-04-18 13:15] batpad commented on #11
Tagging @willemarcel for visibility

[2017-04-18 13:30] planemad commented on #2
The goto changeset review tool for the community are:
- http://resultmaps.neis-one.org/osm-suspicious#0/10/8 to find suspicous changesets which has an easy to use UI for filtering changesets by new users
- http://resultmaps.neis-one.org/newestosm#1/15/10 to find new contributors by country
- http://resultmaps.neis-one.org/osm-discussions#1/28/-1 to follow the latest discussions for actionable issu

[2017-04-18 14:11] rasagy commented on #2
Few more tools that I noticed in the discussions for comparison/competitive analysis:

- [Keep Right at](https://www.keepright.at/report_map.php?zoom=17&lat=53.39765&lon=-1.51613&layers=B0T&ch=0%252C191%252C192%252C193%252C194%252C195%252C196%252C197%252C198%252C201%252C202%252C203%252C204%252C205%252C206%252C207%252C208%252C210&show_ign=1&show_tmpign=1): List of common errors detected in an area

[2017-04-18 14:33] willemarcel commented on #2
I would like to have in the changeset detail page the links both to the user page in OSM and to a changeset list view filtering that user edits.

In the feature detail page, I would like to have the links to the feature page and to the feature history page (both in OSM website).

[2017-04-18 17:05] willemarcel commented on #11
Great work, @rasagy!

We have a default pagination in the API that returns 50 changesets each time, but the user can change the page size.

My impression is that the biggest error of the first version of OSMCHA was to show the results in a list and not in a map. I don't know how was the feedback you had from the users about this, but since we are dealing with geospatial data, I feel it's very impo

[2017-04-18 22:11] lukasmartinelli commented on #11
@rasagy You should join our roadmap meeting on Monday!
I think how we approach OSM validation will also influence the UI design of OSMCha.

IMO less focus on exploration of what is bad and more focus on working through incidents that we know are bad.

[2017-04-21 15:47] DaveF63 opened #15 "A couple of UI appearance suggestions"
Hi
I'm finding this project very useful.

Could changeset descriptions be added to the dialog so it can been read in fullscreen mode? It's useful as a guide as to what was edited.
Could the dialog be collapsible to an icon & slightly transparent when open?

![capture](https://cloud.githubusercontent.com/assets/9528328/25290172/9f42241c-26c4-11e7-9593-dfb8c69b5bfb.JPG)

[2017-04-24 13:12] ajithranka commented on #15
Thanks @DaveF63!

These changes should be part of changeset-map. Moving to [changeset-map#150](https://github.com/osmlab/changeset-map/issues/150).

[2017-04-24 13:12] #15 closed

[2017-04-25 09:52] ajithranka commented on #1
Elaborating on notes [here](https://github.com/willemarcel/osmcha-django/tree/restapi#how-to-login-using-the-oauth-api).

## Login

1. Make a POST request to `https://osmcha-django-api-test.tilestream.net/api/v1/login/social/token/openstreetmap`.

Returns

[code]

2. Open a popup with the location set to `https://www.openstreetmap.org/oauth/authorize?oauth_token=<oauth_token>`.

3. On success, the

[2017-04-25 10:52] rasagy commented on #11
Talked with a few more folks in the Data team, and did two rounds of discussions with @ajithranka and @kepta around the interface as well. I feel I have much more clarity on what can work now, adding these wireframes that we used to discuss in the ticket for reference + more feedback:

# Filters

![mapbox work process_12](https://cloud.githubusercontent.com/assets/1117531/25380684/b9ca967c-29ce-11

[2017-04-25 11:14] kepta commented on #11
@rasagy could you give more details on why you think it would take too much space.

In my opinion after a certain optimum width, say 790px, we can switch to design `C`. This way we would have a persistent thing always there for the user. He/she would not need to switch context again and again when switching between 2 totally different views.
Another reason why I think having a sidebar is important

[2017-04-25 11:26] kepta commented on #11
Just noticed OSM also have a nice changeset sidebar, similar to what we need.
I feel on top of having a changeset list similar to this, we can also have a `load more` button to load the next pages, instead of having the user click on an array of page number.
![screen shot 2017-04-25 at 4 55 01 pm](https://cloud.githubusercontent.com/assets/6966254/25383066/f8679106-29d7-11e7-8b24-0c8128144dcf.png)

[2017-04-25 13:35] kepta commented on #11
Adding @Rub21  for visibility.

[2017-04-25 14:07] willemarcel commented on #11
Good work, guys!!

In the case of the concept **C**, what information would be in the sidebar when a user access the changeset detail url directly?

The saved filters will have an URL as well for sharing between users.

[2017-04-25 14:38] rasagy commented on #11
@willemarcel That’s the slightly hard part: we can’t show all the info we show in the tabular form, so we’ll have to pick a few of the fields. For making a quick prototype, I’m using `changeset id`, `time`, `user id`, `created/modified/deleted` and `reason`.

@kepta My concern here is that there are two views of the list of changesets in this approach: A full screen table (like right now) and a co

[2017-04-26 07:06] manoharuss commented on #11
Awesome ticket! @rasagy so cool.

As a user of osmcha, here is how I am seeing the frontend faster than existing workflow.

The 3 views can be integrated into 2 views. First view being the personalized information for the user, saved filters and filters themselves. Second a being an efficient screen division between changeset list sidebar and details with changeset map.

- Filters : Dedicated view

[2017-04-26 07:13] kepta commented on #11
@rasagy I now understand your reasons behind design `D`.

Had a couple of doubts,

1. The current osmcha container is 1108px tall. By most screen standards it would require scrolling to view the entire thing. Design D would hence require at the very least `1108 x  changesetOpen` scroll height available, if she chooses to keep some changesets open. I feel this makes it very _scroll intensive_.
2. H

[2017-04-26 07:32] rasagy commented on #11
Here’s a stab at the concept `C` & `D`:

## List of changesets

![list - v1](https://cloud.githubusercontent.com/assets/1117531/25421474/b524a5ac-2a7a-11e7-91f6-a4f7fd6503a3.png)

On searching with filters, you’ll get a list of changesets — like the current interface. The only main change here is sorting buttons on the top right, and a toggle for `list | map` that is optional for now (we can decid

[2017-04-26 07:51] rasagy commented on #11
@manoharuss Thanks for the detailed feedback! I’m going to expand on your thoughts about what to show in the filter bar on the top.

This makes sense, and is something we can think about in both the concepts — it’ll be definitely useful.

We discussed this during our initial sync in the pros vs cons for a single page react app vs the current way where we create a new DOM altogether. Once we have o

[2017-04-27 07:00] kepta commented on #11
I got a chance to make a rough prototype of design C and D.

[Here](http://gabby-cheese.surge.sh/) is design `C`.
[Here](http://adhesive-receipt.surge.sh/) is design `D`.

@rasagy thoughts?

[2017-04-27 10:36] rasagy commented on #11
@kepta Looks good. Based on our quick chat, design `D` will struggle with scroll context when trying to expand/collapse different accordions. Let’s go ahead with concept `C` and find ways to make it responsive (to work well with a split screen layout alongside JOSM), and find ways to make the list of changesets on the left less space-consuming.
cc @ajithranka

[2017-05-08 07:04] batpad opened #17 "[UI Discussions] Filters"
cc @kepta

[2017-05-08 07:11] batpad opened #18 "Page to show all suspicious reasons and descriptions"
cc @ajithranka @kepta

[2017-05-08 07:14] batpad opened #19 "Management of user Area Of Interest / Saved Searches"
cc @kepta @ajithranka @rasagy

[2017-05-08 11:46] ajithranka commented on #1
Edited Step 4 above. The `oauth_token` and `oauth_verifier` should be passed as part of the form data.

<img width="782" alt="screen shot 2017-05-08 at 5 02 02 pm" src="https://cloud.githubusercontent.com/assets/11095038/25802870/f3b15220-3411-11e7-8414-338b73d29ee7.png">

[2017-05-09 05:07] rasagy commented on #19
@batpad Going to bake in a `Saved Filter` option in the filters page, but wondering if we should have a `Manage` button next to it [like in this sketch](https://github.com/mapbox/osmcha-frontend/issues/11#issuecomment-296993601).

How does the AoI work? Do we need a CRUD where one can have a set of AoI and then just pick from the drop-down in the Bbox section? If yes, I think it would help to move

[2017-05-09 10:54] willemarcel commented on #19
@rasagy `AoI` has a `name`, `uuid` (it will compose the url), a `filters` field (with the saved filter params) and a `geometry` field (with the same geospatial area that is present in the filter). When creating it, the user need to inform just the `name` and `filters`. The backend will take the geometry from the `filters` and store it in the `geometry` field.

We have endpoints to list the AoI's o

[2017-05-10 07:43] batpad opened #20 "Agree on and define URL structure"
And whether we use `pushState` "real" URLs or `#` parameters.

cc @kepta @ajithranka

[2017-05-10 12:00] rasagy commented on #19
Oops, it seems like I completely misunderstood what AoI & Filters mean in this context. @willemarcel thanks for the explanation, this helps.

Based on a quick chat with @batpad I don’t think we’ll support saving _areas_ — which are individual geojson that you can upload and then get a drop-down like I added in the above comment. Instead, we’ll save the whole set: Filter+Bbox/geometry as geojson as

[2017-05-10 12:04] willemarcel commented on #19
Great, @rasagy!

The geometry field of an AoI can store any geometry type, so it's interesting to have the possibility of uploading geometry or drawing it.

[2017-05-11 04:35] rasagy opened #21 "[UI Discussions] Changeset List"
Following up from #11, let’s use this ticket to iterate on the Changeset list:

![c - changeset-list - v2](https://cloud.githubusercontent.com/assets/1117531/25932677/65a95d8a-3630-11e7-95a8-76c7106dc7fc.png)
_(Initial mockup)_

Based on my discussions, here’s the list of fields in the order of importance:

1. Verified status — Not reviewed, harmful, not harmful (Helps to skip already verified cha

[2017-05-11 04:43] rasagy commented on #21
**Things to discuss:**

- Should we only show the created/modified/deleted number if it’s non-zero, like in current prototype?
- Should we replace the flagged reason with the user tags for items that have been verified? Will that be helpful or confusing?
- Once you apply the filter, you’ll directly see this view (no table view to avoid drastic change in the context). Should the first changeset be

[2017-05-11 04:51] rasagy opened #22 "[UI Discussions] Changeset Details"
Following up from #11, let’s use this ticket to iterate on the Changeset details view:

![c - changeset detail - v2](https://cloud.githubusercontent.com/assets/1117531/25933047/a04e0646-3632-11e7-9cf1-bd6ff6f3814e.png)

**Key information:**

1. Main header with CTA
  - Open in (JOSM, iD etc.)
  - Verify (Harmful, not harmful)
  - Add tag (Longer list of tags that could explain actual cause, action

[2017-05-11 04:56] rasagy commented on #22
**Things to discuss**:

- How should the layout work responsively?
- How should the changeset map layout change to accomodate the responsive layout? This conversation can help push https://github.com/osmlab/changeset-map/issues/133 forward.
- How should changeset map open full-screen (Like full-screen video? In a new tab? Draggable layout?)

Thoughts @planemad @maning @manoharuss & others?

[2017-05-11 05:45] bsrinivasa commented on #22
@rasagy , The changeset detail page looks good. Also curious to check out ideas on how changeset map and discussion module could be fit in the current layout design.

Would suggest for changeset map to just expand in shape to about 75% (or a bit more than that) of the screen (as in a photo viewer experience) and when clicked outside the map, the page should return back to the original state which

[2017-05-11 06:01] bsrinivasa commented on #21
@rasagy The changeset list section looks awesome! 😄  Especially thanks for the `specific details`.

I would suggest to NOT select/open the first changeset automatically but also against displaying an empty page. Would love to see a Home/Welcome page as a default when the space is empty (something like our beloved JOSM welcome page 😛 )

Yes. This is a good idea. I'm 👍  for already reviewed harmful

[2017-05-11 06:17] manoharuss commented on #21
This sounds reasonable.

@bsrinivasa
Tags = Manually given tags by reviewers (Intentional, Unintentional, Resolved, Unresolved etc)
Suspicious reasons = Reasons pushed by detectors (Park added by new user, Waterbody added by new user, Edited a major lake)

Nope. Let us keep these separate. Often when we share harmful changesets through our diary posts and mailing lists, we do give them link to eac

[2017-05-11 07:27] rasagy commented on #22
Since a common usecase with OSMCHA is to have a split-screen layout (OSMCHA + JOSM/iD), we need to make sure the layout is responsive here’s how the layout could look like on a 800x600 screen:

![c - v2 tablet](https://cloud.githubusercontent.com/assets/1117531/25933448/7cf290b6-3634-11e7-9340-77adbede0082.png)

We could push the 2, 3, 4 sections in a single layout (scrollable) and keep the change

[2017-05-11 11:54] willemarcel commented on #22
Good ideas, @rasagy !

I think it's not necessary too much space for "Flagged features" in the first image, so I would adjust its section height to the same of the changeset details

[2017-05-11 11:59] rasagy commented on #22
@willemarcel Good point! @kepta also worked on a quick prototype to test this on multiple screens, and I think the overall feedback is to not do a 50%-50% split but roughly 30%-70% split so changeset map uses more space. Will iterate on this and see what works best!

[2017-05-11 12:00] rasagy commented on #22
@bsrinivasa Interesting feedback! Like @willemarcel mentioned, I think we can give changeset map more space by default. Let’s see if that removes the need to have a full-screen view for most cases.

[2017-05-11 12:09] rasagy commented on #21
Thanks @bsrinivasa & @manoharuss!

This ticket is dedicated to the left sidebar, sorry should have been clearer in my question. See the image below:

<img width="1021" alt="c_-_changeset-list_-_v3_png" src="https://cloud.githubusercontent.com/assets/1117531/25948147/f7154a2e-366f-11e7-860c-b30386b9c5ae.png">

In this left bar, for items that have been _already verified (harmful/not harmful)_, woul

[2017-05-11 12:16] willemarcel commented on #21
I prefer to have all the numbers. When you see always the three numbers you understand it directly. If you have just one or two, you need to learn or think about what does it mean.

What do you think about to show the changesets bbox over a map?

[2017-05-17 09:28] rasagy commented on #22
@kepta helped make a quick prototype to get feedback on the layout. The main feedback was that 50-50 split doesn’t work well, especially on slightly smaller screen sizes, and the changeset map should be toggle-able/expandable in some way.

Based on those inputs, @kepta, @ajithranka & I went ahead with rethinking the layout by focusing on the changeset map and adding details _around_ it.

### First

[2017-05-17 11:38] willemarcel commented on #22
Excelent!! Both are very good, but I prefer the `Panels as map controls`.

[2017-05-22 07:42] rasagy commented on #17
Following up from #11, let’s use this ticket to iterate on the Filters view.

First, I took a shot at going through the [currently available filters](https://github.com/mapbox/osmcha-frontend/blob/master/src/config/filters.json), categorizing them and picking the most frequent ones (based on user feedback in #2):

![osmcha filters](https://cloud.githubusercontent.com/assets/1117531/26296781/d21f6c

[2017-05-22 08:11] manoharuss commented on #17
@rasagy Awesome ticket.

Quick feedback, we are not using `Powerful editor` property in any of the filter or workflow as of now.

[2017-05-26 05:16] kepta commented on #1
This has been implemented in #24
Closing this.

[2017-05-26 05:16] #1 closed

[2017-05-26 05:16] kepta commented on #2
Closing this ticket as the discussion has moved on to #17
cc @rasagy

[2017-05-26 05:16] #2 closed

[2017-05-26 05:18] kepta commented on #11
We have adopted a full screen layout of changeset-map, refer this [refactor](https://github.com/osmlab/changeset-map/pull/153) for the updated changeset-map.

Closing this ticket,

[2017-05-26 05:18] #11 closed

[2017-05-26 05:39] kepta opened #25 "Blockers for a beta testing."
We are almost there with the existing [osmcha](https://osmcha.mapbox.com).
Couple of things that need to move before we start beta testing the app, next week.

### Login
___

|   |  |
|----------|-------------|
| **Status** |   Completed|
| **Info** |    The current login mechanism doesn't work in regular browsers. @wille is working on an update.   |
| **Beta release** | Blocker |

### Changeset D

[2017-06-02 06:25] rasagy commented on #25
## Design master list

### Changeset View:

- [ ] Changeset details panel
- [ ] Flagged features panel
- [ ] Changeset discussions panel
- [ ] Navigation bar (CTA for Open, Verify, Tags)
- [ ] Empty states
- [ ] Error states
- [ ] Tested for edge cases (data + screen sizes)

### Changeset List:
- [ ] Individual list item — hierarchy
- [ ] Individual list item — states (Viewed, Selected, Default, V

[2017-06-02 06:41] tridip1931 opened #30 "If no comment, Changeset details navbar breaks"
If there is no comment in the changeset, the changeset details navbar do not show up. Clicking on subsequent changeset do not fix the issue.

For reference:
changeset id: 49184825

![screencapture-localhost-3000-changesets-49184825-1496385299461](https://cloud.githubusercontent.com/assets/7458983/26713902/7d69ab92-478c-11e7-9076-b98dd2816c2e.png)

cc: @kepta @ajithranka @rasagy

[2017-06-02 10:08] manoharuss commented on #25
![image](https://cloud.githubusercontent.com/assets/8921295/26721379/3e94bcb4-47a9-11e7-9ae4-0e027312af09.png)

It is easier if the urls in Imagery sources are shortened to only show until  the username and have a way button there, so a user can copy the complete link into clipboard to use in OSM editors.

[2017-06-05 06:51] kepta opened #34 "Clearing the Changeset Map fails"
If you do a clearFeature on every change of changes map.
It fails randomly.
Further investigation is needed.

[2017-06-05 06:53] kepta opened #35 "if token is expired / faulty app gets into an unpredictable state"

[2017-06-05 06:53] kepta opened #36 "Verifying doesn't update the changeset list"

[2017-06-05 06:54] kepta opened #37 "Moving changeset map controls to osmcha"
Currently to filter by action and type requires to use the cmap options.
We would like to move them to osmcha to be better aligned with the design.

[2017-06-05 06:55] kepta opened #38 "Refactoring the label and name for drop down menus."

[2017-06-05 06:55] kepta opened #39 "keyboard shortcuts"
We need to discuss and implement proper keyboard shortcuts for everything .

[2017-06-05 06:56] kepta opened #40 "Icons for the project."
We might need a bunch of icons for this project. Assembly accepts svg paths.
cc @rasagy

[2017-06-05 06:57] kepta opened #41 "Mobile view"
Currently the mobile view is in denial, we might need to fix mobile related issues.
I will add all the minor issues related to mobile and small screens here.

[2017-06-05 07:15] rasagy opened #42 "[User Testing] Feedback Master ticket"
Feel free to share any feedback on this ticket (bugs, feature request, workflow feedback)

![bugs](https://cloud.githubusercontent.com/assets/1117531/26774340/73825332-49ed-11e7-8a88-43584cfefa76.gif)

cc @manoharuss @krishnanammala @chtnha @kepta @ajithranka @geohacker @batpad

[2017-06-05 07:38] rasagy commented on #42
**What**
Filters > Reasons dropdown stops working after selecting two, but you can still type and add more filters.

![osmcha-reasons](https://cloud.githubusercontent.com/assets/1117531/26774862/e9a7c05e-49ef-11e7-8dd4-011dcbd2d7dd.gif)

**Expected**
Dropdown should continue to show up when you select two options. Also the UI shouldn’t expand.

[2017-06-05 07:50] rasagy commented on #42
**What**
If comment has a link, the changeset details has a horizontal scroll

<img width="466" alt="screenshot 2017-06-05 13 18 40" src="https://cloud.githubusercontent.com/assets/1117531/26775252/b0860f90-49f1-11e7-8ae9-5cb221d05007.png">

**Expected**
Truncate the url or set max-width that breaks the url to next line.

[2017-06-05 07:53] rasagy commented on #42
**What**
When `Source` has a link, the three-column layout doesn’t work well

<img width="466" alt="screenshot 2017-06-05 13 21 26" src="https://cloud.githubusercontent.com/assets/1117531/26775345/29d7a8ae-49f2-11e7-80a1-172b471799b8.png">

**Expected**
Either truncate link and let someone copy the whole text to the clipboard, or make the columns as individual rows.

[2017-06-05 07:58] rasagy commented on #42
**What**
Satellite imagery gives 404, and map style toggles don’t work (getting a 200).

![image](https://cloud.githubusercontent.com/assets/1117531/26775446/a6eeccc8-49f2-11e7-973a-30b9996b3c9c.png)

![image](https://cloud.githubusercontent.com/assets/1117531/26775483/cb9e00ca-49f2-11e7-8d67-a984980ffd31.png)

**Expected**
We probably need to fix the changeset map integration, and show errors if

[2017-06-05 08:53] rasagy commented on #42
### Feature parity with old Filters UI
(Listing these down including known issues for us to check off)

- [ ] `Date` needs a presets section
- [ ] `Reasons` need all/any
- [ ] `Reviewed`, `harmful`, `flagged`, needs three states (Yes, No, All)
- [ ] `Users` & `checked by` doesn’t need to be a drop down _(Up for discussion)_
- [ ] Fewer, more relevant options in `Order by`
- [ ] `Bbox` needs a map

[2017-06-05 10:07] kepta opened #43 "using emojis 👍 👎 instead of colors"
The current sidebar is peppered with so many colours that it becomes a bit overwhelming to grab necessary information.
I feel adding emojis (which people are familiar with) and icons would help reduce the information clutter.

cc @rasagy @geohacker @manoharuss

[2017-06-05 10:10] kepta commented on #43
![screen shot 2017-06-05 at 3 39 36 pm](https://cloud.githubusercontent.com/assets/6966254/26779982/3cc20d20-4a05-11e7-8dbb-4f2b37eb9d83.png)

[2017-06-05 10:15] geohacker commented on #43
May be change the background colour of the entire row?

[2017-06-05 10:16] rasagy commented on #43
@kepta @geohacker Good point, adding this in the list of things we want to iterate (from a design perspective). 🙇

[2017-06-05 12:05] kepta opened #44 "Updating the changeset list when the `changeset` gets modified"
We might need to do a cross store update for these kind of cases.

[2017-06-05 12:06] kepta commented on #17
Closing this ticket, as it has gotten out of date.

[2017-06-05 12:08] #18 closed

[2017-06-05 12:08] kepta commented on #43
![screen shot 2017-06-05 at 5 38 07 pm](https://cloud.githubusercontent.com/assets/6966254/26783443/d10cc55a-4a15-11e7-9e02-d53d669dc25c.png)
added some icons to make it a bit smoother.

[2017-06-05 12:13] kepta opened #45 "Showing tags along with reasons in changeset list."
For most cases count of tags + reasons < 3.
I feel we should also show `tags` along with `reasons` with a different color in the changeset list. I guess this would help the end user make a better decision.

Could there be any problems with such a design?
cc
@manoharuss @rasagy @geohacker

[2017-06-05 14:58] geohacker commented on #43
@kepta Nice! The icons look good but I think we should stick to using big text in green, yellow and red for consistency across tools and OSM. @rasagy

[2017-06-06 07:08] kepta opened #46 "A user page"
Creating this ticket to track user page related things.

[2017-06-07 08:36] batpad opened #47 "Fix pagination on front-end"
Right now it always shows a list of page numbers even when those pages don't exist, and clicking on an invalid page number seems to break things a bit.

Also would be nice to display the count of results returned somewhere.

[2017-06-07 08:40] batpad opened #48 "Fix feature selection remaining from previous changeset"
Steps to reproduce:

Click on changeset in list.
Select a feature on changeset map.
Click on different changeset on list.

What happens:
The details for the feature selected from the previous changeset still shows on changeset map.

What I expect to happen:
Feature selection from previous changeset is cleared.

[2017-06-07 08:59] kepta opened #49 "Make filters object immutable"

[2017-06-08 06:10] kepta opened #51 "Fix the mess of Dropdown componenet"

[2017-06-08 06:11] kepta commented on #48
@batpad is this going to be a deal breaker for v1 release ?

[2017-06-08 06:12] kepta commented on #47
For the v1 release we are simply going to not show the pages which do not exist.
Using some math on the result size and page size.

cc @rasagy

[2017-06-08 06:15] kepta commented on #46
@rasagy Tagging you for fixing the user related ui.

The current view looks like this.

![image](https://user-images.githubusercontent.com/6966254/26914579-c406b6aa-4c3f-11e7-8700-3c321b878e23.png)

![image](https://user-images.githubusercontent.com/6966254/26914608-e645f258-4c3f-11e7-93eb-87819ac41be5.png)

cc @batpad @ajithranka

[2017-06-08 06:16] kepta opened #52 "Deployment workflow for production"
We need to setup a workflow for copying the static and dynamic (htmls) to the backend server.

- [x] Change /osmcha-frontend/ url in package.json to / for production
- [x] change all the links to / for production
- [x] handle the case when `.com/:id` comes and convert it to `.com/changeset/:id`
- [x] make osmcha backend for this.
cc @batpad

[2017-06-08 06:29] kepta commented on #41
cc @rasagy

[2017-06-08 06:30] kepta commented on #30
this was fixed.

[2017-06-08 06:30] #30 closed

[2017-06-08 06:30] kepta commented on #25
beta testing has started.

Closing this ticket

[2017-06-08 06:30] #25 closed

[2017-06-08 06:33] kepta commented on #20
The url structure was finalised.
Closing this ticket.

[2017-06-08 06:33] #20 closed

[2017-06-08 06:33] kepta commented on #21
Closing this ticket as the majority of the things have been settled.

[2017-06-08 06:33] #21 closed

[2017-06-08 06:34] kepta commented on #22
Closing this ticket as it has gone out of date.

[2017-06-08 06:34] #22 closed

[2017-06-08 08:45] kepta opened #53 "Parse the source and imagery and show domain only."

[2017-06-08 10:42] rasagy opened #54 "Checklist for launch"
Listing things that we should try to include (must have + good to have) when we release the new beta.

1. **Good About page**: More detail about what the tool is, what validation is about, what flags mean, and a bit about repo, licensing + Mapbox etc.
2. **Welcome to NEW OSMCha modal**: Highlight the major changes in the new UI
3. **Walkthrough**: (Optional) Step-by-step list of UI highlights

cc

[2017-06-08 10:49] kepta commented on #54
cc @jinalfoflia

[2017-06-08 10:50] kepta opened #55 "Add Google Analytics"

[2017-06-08 11:00] kepta opened #56 "Fix filters page"
The filters page is broken need to be fixed.

[2017-06-08 11:03] kepta opened #57 "Save filters to local storage"
for a version 1 we can squeeze this in.

what do you think @batpad

[2017-06-08 12:11] kepta commented on #47
This was fixed in #58

[2017-06-08 12:11] #47 closed

[2017-06-08 12:11] kepta commented on #53
This was fixed in #58

[2017-06-08 12:11] #53 closed

[2017-06-08 12:31] willemarcel commented on #56
A sugestion to the date fields in the filters page: change the `min/max` label to `from/till`

[2017-06-08 12:50] willemarcel commented on #57
@kepta Are you aware that we have the possibility of save the filters as an `AreaOfInterest` in the backend? http://osmcha-django-staging.tilestream.net/api-docs/#!/aoi/aoi_create

[2017-06-08 13:07] willemarcel commented on #46
I suggest to change `Age` to `Contributor since X time ago`.

In the changeset detail tab you are showing the `username(nº of edits)`. I would prefer to have it in another place or make it clear that the number is the edits count of the user. At first look, I thought it was the `uid` of the user

[2017-06-08 13:24] willemarcel opened #59 "Open in menu"
* The link to `iD` is wrong, it should receive the coordinates of the current map view or of the first changeset map view, example: https://www.openstreetmap.org/edit?editor=id#map=15/-4.5650/-37.7613

* The `OSM` option is duplicated.

[2017-06-08 13:56] willemarcel opened #60 "Forbidden actions"
We need to handle some forbidden operations, like when the user tries to check or tag his own changeset or is not logged in to check/tag another user's changeset. We could show an error message or just hide those buttons.

[2017-06-09 05:47] kepta opened #61 "Unify constants"
currently call url constants are scattered, it would be better to have a consolidated file for them.

[2017-06-09 05:48] kepta commented on #59
Thanks for reporting the bug, @willemarcel. Will fix it.

[2017-06-09 05:49] kepta commented on #60
This is definitely annoying, when user has no clue why a particular action didn't succeed.

[2017-06-09 07:20] kepta opened #62 "Use AOI for saving filters"
cc @batpad @willemarcel

[2017-06-09 07:21] kepta commented on #55
This was added in #58

[2017-06-09 07:21] #55 closed

[2017-06-09 07:52] kepta commented on #39
@manoharuss could you help with the existing shortcuts and their mapping?

[2017-06-09 08:09] kepta commented on #59
This was fixed in #58

[2017-06-09 08:09] #59 closed

[2017-06-09 08:11] manoharuss commented on #39
G- Good
B- Bad
H- HDYC
J- JOSM

[2017-06-09 08:11] kupendrayadav commented on #39
@kepta You mean shortcuts in JOSM?

[2017-06-09 08:12] kepta commented on #39
@kupendrayadav I meant shortcuts in current osmcha

[2017-06-09 08:12] kupendrayadav commented on #39
U - undo in OSMCha

[2017-06-09 08:49] kepta commented on #39
this was added in #58
The following new and old shortcuts were also added
[code]

[2017-06-09 08:49] kepta commented on #39
cc @batpad @ajithranka @rasagy @manoharuss @geohacker

[2017-06-09 08:49] #39 closed

[2017-06-09 09:45] kepta commented on #61
This was fixed in #58

[2017-06-09 09:45] #61 closed

[2017-06-09 11:19] kepta commented on #36
This was fixed in #58

[2017-06-09 11:19] #36 closed

[2017-06-09 11:37] kepta commented on #35
This was fixed in #58

[2017-06-09 11:37] #35 closed

[2017-06-09 11:38] kepta commented on #49
removing the v1 milestone from this as it might be a bit of more work than expected

[2017-06-09 11:44] kepta commented on #45
The tags are also shown now with red color in the list.
Added in #58

[2017-06-09 11:44] #45 closed

[2017-06-10 07:33] kepta commented on #60
This was fixed in #58

[2017-06-10 07:33] #60 closed

[2017-06-10 14:58] kepta commented on #48
This was fixed in #58

[2017-06-10 14:58] #48 closed

[2017-06-10 14:59] kepta commented on #37
This was fixed in #58

[2017-06-10 14:59] #37 closed

[2017-06-10 15:02] kepta opened #63 "web pack code splitting is broken"

[2017-06-11 11:21] kepta commented on #34
This was fixed in #58

[2017-06-11 11:21] #34 closed

[2017-06-12 05:04] kepta commented on #63
This was fixed in #58

[2017-06-12 05:04] #63 closed

[2017-06-12 06:08] kepta opened #64 "Better naming of redux constants"
We can scope similar constants in an object and achieve  namespaced constants.
This should reduce the visual clutter they created.

[2017-06-12 06:09] kepta opened #65 "Exporting the contents of folder from index.js"
Fetching multiple files from the same folder requires multiple lines.
An `index.js` which exports such things would really help.

[2017-06-12 11:13] rasagy opened #66 "Hide changesets that are still being processed"
The default list of changesets reflects all changesets, which means the most recent ones will have data that is still being processed. We should hide these so it doesn’t get confusing for people — in any case these won’t be usable till we fetch all the details.

<img width="1280" alt="screenshot 2017-06-12 16 13 52" src="https://user-images.githubusercontent.com/1117531/27031512-30945178-4f8e-11e7

[2017-06-12 11:36] batpad commented on #66
Maybe this is something that the back-end should do.

cc @willemarcel do you think it makes sense for the back-end to filter out / not return changesets where we don't have metadata yet?

These basically happen when our feature processing pipeline is faster than the changeset processing -- so we get details for a suspicious feature before the changeset metadata has arrived, so create an "empty" ch

[2017-06-12 14:31] lukasmartinelli commented on #39
Can we have a help icon showing the shortcuts? ❤️

[2017-06-13 02:43] rasagy commented on #17
Continuing the filter conversation here (instead of #56) so we have one dedicated issue for tracking this.

Based on our interviews and user testing, filters are still complex, and two major feedback emerges:
- Filters should be categorized by use case, so it’s easy to see all related filters
- Filters should be ordered to show the most frequently used fields first

Apart from this, we have a pret

[2017-06-13 02:43] rasagy commented on #56
Closing this and moving the conversation to #17.

[2017-06-13 02:43] #56 closed

[2017-06-13 04:40] rasagy commented on #17
Let’s continue using the single column approach, but make way for descriptions and headers for categories, like:

![filters - single column layout with description](https://user-images.githubusercontent.com/1117531/27063674-9ff981c8-5010-11e7-8654-503274c4e9d6.png)

Moving the call-to-action buttons on the top right to stay consistent with our changeset details page (thanks @kepta for that!), and

[2017-06-13 05:23] rasagy opened #68 "Can’t filter for #tags in comments"
For ex, searching for #hotosm in comments [doesn’t work](https://mapbox.github.io/osmcha-%20frontend/filters?filters=%7B%22comment%22%3A%5B%7B%22label%22%3A%22%23hotosm-project%22%2C%22value%22%3A%22%23hotosm-project%22%7D%5D%7D).

cc @kepta

[2017-06-13 05:24] rasagy opened #69 "Validate input fields"
Fields like Filter dates needs basic checks so that invalid input should give an error. For ex: From is after to, to/from is in the future etc.

cc @kepta

[2017-06-13 05:27] rasagy opened #70 "Weird drop down behavior in Reasons filter"
- Reasons drop down `v` stops working (nothing happens on clicking) after adding 2 reasons
- If you add and remove reasons, then clicking on drop down gives no list

![osmcha-reasons-input](https://user-images.githubusercontent.com/1117531/27067171-0421ef94-5027-11e7-8c41-9b741d01568a.gif)

cc @kepta

[2017-06-13 05:28] rasagy commented on #70
Might be related to #51.

[2017-06-13 09:33] #43 closed

[2017-06-13 10:15] rasagy commented on #54
Focusing on two screens: a modal for new user to explain the new features+summarize what you can do on OSMCha, and a default screen for details view when no changeset is selected.

For the modal, I’m thinking of a full-page splash screen as follows:

![mapbox work process_19](https://user-images.githubusercontent.com/1117531/27075559-2823ff4c-5048-11e7-8580-fba8c249e5b3.jpg)

1. Welcome message
1.

[2017-06-13 10:29] rasagy opened #71 "Truncate comment in the changeset list to 3 lines"
Seeing this right now:

<img width="427" alt="screenshot 2017-06-13 15 58 18" src="https://user-images.githubusercontent.com/1117531/27078405-39d291dc-5051-11e7-8f76-e3386d20cc82.png">

cc @kepta

[2017-06-13 11:09] kepta commented on #54
@rasagy could give me an `HTML` template for this. Since it is mostly static and I can easily port it to react.

[2017-06-13 13:18] willemarcel commented on #66
done in https://github.com/willemarcel/osmcha-django/commit/90f0f5c5c0cf395395a37be81ed21b1a5316ceae

[2017-06-13 14:12] kepta opened #72 "Better handling of updated changeset list"
It would be great if we could poll the changeset list and see if any change sets arrived since the user last refreshed.

[2017-06-13 20:02] willemarcel opened #73 "Define default date range filter"
Sometime ago we talked about to define a default date range filter in the frontend, because the database count operation to return the total number of changesets takes too much time. So defining a smaller default date range will make the API response be faster and save our servers. As I remember, we thought to define the default date range to one week.

cc @batpad

[2017-06-14 07:25] rasagy opened #74 ""A new version is available" notification shouldn’t be an alert();"
<img width="747" alt="screenshot 2017-06-14 12 52 35" src="https://user-images.githubusercontent.com/1117531/27120251-75f6c908-5100-11e7-8a03-1f527ec6723f.png">

Small request: Let’s not use the native alert for this, which will take your focus from the current tab and will end up being pretty annoying. Also, is there a way to not show this and update by default if this is when you are opening OSM

[2017-06-14 09:16] rasagy opened #75 "Error messages: Master ticket"
Let’s document all the error messages here and make sure each error message:
- Explains what happened
- Has a recommended action

cc @kepta

[2017-06-14 09:18] rasagy commented on #75
Verify button needs better error messages that explain the error.

![osmcha-verify-2](https://user-images.githubusercontent.com/1117531/27124973-6847d7ce-5110-11e7-8403-b257277dc5dd.gif)
![osmcha-verify](https://user-images.githubusercontent.com/1117531/27124975-685e15ac-5110-11e7-9203-ca53b9872140.gif)

[2017-06-14 09:37] rasagy opened #76 "Improve changeset header buttons"
Listing quick fixes that we should do for the header:

![image](https://user-images.githubusercontent.com/1117531/27125187-188bf2c8-5111-11e7-8b0a-cd20c2beef1b.png)

---

- [x] **Add an explicit `Open in v` button**
![image](https://user-images.githubusercontent.com/1117531/27125180-11068482-5111-11e7-993f-ee40556ce825.png)
The current design makes it slight difficult to discover this, and making

[2017-06-14 10:02] kepta commented on #76
@rasagy `Update the list of tags to match the current OSMCha` can you explain more ?

[2017-06-14 10:03] kepta commented on #73
This was fixed in #67

[2017-06-14 10:03] #73 closed

[2017-06-14 10:04] kepta commented on #72
This was added in #67

[2017-06-14 10:04] #72 closed

[2017-06-14 10:04] kepta opened #77 "Create a new branch `oh-pages`"
We need a new branch for deployment to the `production` stack.

cc @batpad

[2017-06-14 10:05] kepta commented on #52
@batpad @willemarcel it would be great if the server could force `https` and the app breaks on http.

[2017-06-14 10:06] kepta commented on #17
@rasagy could you with the help of @willemarcel  help in getting better descriptions for the filters.

The filters.json file could be found [here](https://github.com/mapbox/osmcha-frontend/blob/master/src/config/filters.json)

[2017-06-14 10:13] kepta commented on #68
nice catch @rasagy ,
will fix it.

[2017-06-14 12:32] krishnanammala opened #78 "Timings of discussions not showing up appropriately"
Noticed that in this changeset https://www.openstreetmap.org/changeset/49413231. The discussions has a time gap between them, but in the discussions icon it was showing up the same for all 👇

![screen shot 2017-06-14 at 5 51 58 pm](https://user-images.githubusercontent.com/17470597/27132008-c52d0a26-512a-11e7-8a97-8df8c3ae63b0.png)

cc @kepta @batpad @geohacker @rasagy @manoharuss

[2017-06-14 18:50] kepta commented on #78
This was fixed in #67

[2017-06-14 18:50] #78 closed

[2017-06-14 18:50] kepta commented on #77
This was done

[2017-06-14 18:50] #77 closed

[2017-06-15 09:38] manoharuss opened #79 "Default URL has a date filter"
Observed that when we open OSMCha with https://mapbox.github.io/osmcha-frontend, by default a date filter is enabled to filter changesets that are after 08/6/2017

![image](https://user-images.githubusercontent.com/8921295/27175079-b4280a76-51db-11e7-8b35-86a95bf9f61f.png)

cc @kepta @geohacker @rasagy

[2017-06-15 10:43] batpad opened #80 "Mention node version required in docs"
cc @kepta

[2017-06-15 10:55] willemarcel commented on #79
@manoharuss see https://github.com/mapbox/osmcha-frontend/issues/73

[2017-06-15 11:13] manoharuss commented on #79
@willemarcel thank you. This was intentional. Closing.

[2017-06-15 11:13] #79 closed

[2017-06-15 12:58] rasagy opened #82 "For really old changesets, OSMCha panels don’t load."
Tried opening this changeset: https://mapbox.github.io/osmcha-frontend/changesets/2525433

It took a while to load (gave an error: `GET https://s3/…/production/2525433.json 403 (Forbidden)`) and a loooong `uncaught at s TypeError: Cannot read property 'get' of undefined` error.

![image](https://user-images.githubusercontent.com/1117531/27182201-097316c6-51f8-11e7-9e97-6d6e58c3617b.png)

This is a

[2017-06-15 13:01] rasagy opened #83 "Singular changeset in url"
Our current url structure is https://mapbox.github.io/osmcha-frontend/changesets/{id}, can we switch to https://mapbox.github.io/osmcha-frontend/changeset/{id} (singular changeset)?
This will match the OSM url: https://www.openstreetmap.org/changeset/49536492
cc @kepta

[2017-06-16 19:41] willemarcel opened #84 "Improper link in source field"
This [changeset](https://osmcha-django-staging.tilestream.net/changesets/49593249/) has `"source": "fabio/bruno"` what is generating a link to https://osmcha-django-staging.tilestream.net/changesets/fabio/bruno in the source area of the interface.

API page of the changeset: http://osmcha-django-staging.tilestream.net/api/v1/changesets/49593249/

[2017-06-16 19:50] willemarcel commented on #42
![captura de tela de 2017-06-16 16-44-49](https://user-images.githubusercontent.com/666291/27242375-4447acc4-52b3-11e7-9c92-75d8ade6ff6e.png)

Some fields placeholder text are lighter than others (and much difficult to read). I prefer the darker colour.

[2017-06-17 10:04] kepta commented on #17
filters got a ui uplift in #67
closing this

[2017-06-17 10:04] kepta commented on #52
The deployment work was laid down.
Will add docs for it post release

[2017-06-17 10:04] #52 closed

[2017-06-17 10:05] kepta commented on #46
As per @rasagy he is busy with other things.
I think we are fine with the ui for this release

[2017-06-17 10:05] #46 closed

[2017-06-17 10:06] kepta commented on #40
@rasagy if you to investigate in future reopen this ticket.
Closing this for now

[2017-06-17 10:06] #40 closed

[2017-06-19 06:24] jinalfoflia commented on #54
The about documentation is moving and is now part of OSMCha-frontend repo -
 https://github.com/mapbox/osmcha-frontend/blob/master/ABOUT.md

cc: @willemarcel

[2017-06-19 10:34] rasagy commented on #54
Going to try and implement a default view like this:

![main illustration links](https://user-images.githubusercontent.com/1117531/27281316-01913596-5509-11e7-86b6-49d8ac8895f4.png)

Showing:
- OSMCha title
- Short description
- Main steps
- Link to documentation
- Link to repo, what’s new etc. with Assembly icons

[2017-06-19 12:23] manoharuss opened #86 "Change place holder tags to reflect real ones in our current workflow"
![image](https://user-images.githubusercontent.com/8921295/27284770-c6a841ea-5517-11e7-8e1c-b8ffd4f5cd3c.png)
_current workflow_

![image](https://user-images.githubusercontent.com/8921295/27284922-553525c2-5518-11e7-99bf-3eaeff1ee233.png)
_place holder tags right now_

The tags in the new osmcha version are not the same as the ones in our current workflow. @kepta @rasagy it would be great if you

[2017-06-19 13:03] kepta commented on #86
@manoharuss these are not placeholder tags and being served by server.
Once the server changes these which might happen when we switch to production database.

[2017-06-19 13:03] #86 closed

[2017-06-19 13:56] kepta commented on #42
Closing this ticket as it is difficult to track.
@rasagy Could you open new tickets for the issues mentioned here which aren't resolved .

[2017-06-19 13:56] #42 closed

[2017-06-19 13:58] kepta opened #87 "placeholder too light"
![captura de tela de 2017-06-16 16-44-49](https://user-images.githubusercontent.com/666291/27242375-4447acc4-52b3-11e7-9c92-75d8ade6ff6e.png)

Some fields placeholder text are lighter than others (and much difficult to read). I prefer the darker colour.

Moved to a new ticket.
cc @willemarcel

[2017-06-19 13:59] kepta commented on #44
This was fixed in #67

[2017-06-19 13:59] #44 closed

[2017-06-19 14:00] kepta commented on #49
This was fixed in #67

[2017-06-19 14:00] #49 closed

[2017-06-19 14:00] kepta commented on #51
This has gotten stale, will relook later.

[2017-06-19 14:00] #51 closed

[2017-06-19 14:01] kepta commented on #54
This has worked well closing this ticket now.
@rasagy let me know if I missed anything.

[2017-06-19 14:01] #54 closed

[2017-06-19 14:04] kepta opened #88 "A better homepage view"
copying from https://github.com/mapbox/osmcha-frontend/issues/54
carrying forward @rasagy's work.

[2017-06-19 14:06] kepta commented on #66
This was fixed.

[2017-06-19 14:06] #66 closed

[2017-06-19 14:08] kepta commented on #57
closing this for #19

[2017-06-19 14:08] #57 closed

[2017-06-19 19:19] kepta opened #92 "Fix radio button"
The radio buttons are semi broken.

[2017-06-19 19:30] kepta opened #93 "make reasons color uniform"
reasons are colored blue mostly but in suspicious features they are colored green.

[2017-06-19 19:45] kepta opened #94 "handle window.open() == null"
https://developer.mozilla.org/en-US/docs/Web/API/Window/open

[2017-06-19 20:21] kepta commented on #82
Was fixed with showing an error.

[2017-06-19 20:21] #82 closed

[2017-06-19 20:23] kepta opened #95 "Changeset map layer selection is broken"

[2017-06-19 21:51] batpad opened #96 "Why does the front-end eat up URLs?"
So if I try to navigate to a URL like https://osmcha.mapbox.com/api/v1/changesets, the frontend seems to grab the URL and not pass it on to the back-end.

I have no idea how it does this or why, but is there a way to make it stop? It's making debugging back-end issues a bit weird.

cc @kepta @geohacker

[2017-06-20 04:21] geohacker opened #97 "Document the build process"
@kepta what does `yarn build` do? what does oh-pages do?

[2017-06-20 04:37] geohacker opened #98 "URL shortener?"
Should we use a URL shortener?

http://osmcha.mapbox.com/?filters=%7B%22reasons%22%3A%5B%7B%22label%22%3A%22Large%20building%20added%20by%20new%20user%22%2C%22value%22%3A47%7D%2C%7B%22label%22%3A%22Pokemon%20nest%20feature%20added%20by%20new%20user%22%2C%22value%22%3A50%7D%2C%7B%22label%22%3A%22Edit%20to%20city%2Ftown%20place%22%2C%22value%22%3A46%7D%2C%7B%22label%22%3A%22Profanity%20tag%22%2C%22v

[2017-06-20 06:05] rasagy commented on #88
Reposting here.

Aim to create the homepage section as:

![main illustration links](https://user-images.githubusercontent.com/1117531/27318849-06b25156-55ac-11e7-9459-9a5d59314eab.png)

Individual images:

![osmcha-logo](https://user-images.githubusercontent.com/1117531/27318915-5eefbf84-55ac-11e7-95dd-be9b7b2b0064.png)
![osmcha-steps](https://user-images.githubusercontent.com/1117531/27318916-5ef

[2017-06-20 06:06] rasagy commented on #76
@kepta That was same as https://github.com/mapbox/osmcha-frontend/issues/86, now fixed.

[2017-06-20 06:06] #76 closed

[2017-06-20 06:10] rasagy commented on #83
Per voice w/ @kepta: Not going to do this, the plural url makes more sense (so we can incorporate features/{id} in the future and use changesets/ and features/ for lists).

[2017-06-20 06:10] #83 closed

[2017-06-20 06:11] kepta commented on #93
cc @ajithranka

[2017-06-20 06:29] ajithranka commented on #97
Thanks @kepta for updating [the workflow](https://github.com/mapbox/osmcha-frontend#workflow)!

@geohacker Let us know if you see anything missing from the documentation. I'll pair up with @kepta for a deploy today.

[2017-06-20 06:31] kepta commented on #97
This was fixed in [commit](https://github.com/mapbox/osmcha-frontend/commit/0a9c9d020184e914b07b1bf5fc90d3640857120a) Closing this.

[2017-06-20 06:31] #97 closed

[2017-06-20 06:32] kepta commented on #96
@batpad this was fixed in v0.16.1, I have list of whitelisted urls.
I will open another ticket for discussing on how to handle urls more transparently.

[2017-06-20 06:33] kepta commented on #80
This was fixed in the readme.

[2017-06-20 06:33] #80 closed

[2017-06-20 06:35] #93 closed

[2017-06-20 06:47] kepta opened #100 "Have a transparent webpack config modulation"
Create react app is great. But as the project progresses we are in need of modifying the webpack configuration suite our needs.

as per discussion with @ajithranka we had to two options.
1. Fork `react-scripts` [here](https://medium.com/@shubheksha/tweaking-configuration-for-react-scripts-in-create-react-app-d91e9d03a42f)
2. Use the npm module [react-app-rewired](https://github.com/timarney/react-

[2017-06-20 06:54] kepta commented on #100
https://github.com/facebookincubator/create-react-app/issues/2509

[2017-06-20 06:55] batpad opened #101 "Please add back-end repo to Contribute"
The Contribute button right just links to the frontend repo. It would be nice if either the frontend repo README prominently linked to https://github.com/willemarcel/osmcha-django and mentioned it as the API code or if Contribute some-how led to a bit of text leading to both repositories. 🙇

cc @kepta @jinalfoflia

[2017-06-20 08:48] rasagy opened #103 "More user-friendly error messages"
Let’s work on mapping the errors sent from the server to more user-friendly error messages. They should:

- Explain what happened
- Have a recommended action

cc @kepta @ajithranka

[2017-06-20 09:11] rasagy commented on #75
Closing this, tracking error messages in https://github.com/mapbox/osmcha-frontend/issues/103

[2017-06-20 09:11] #75 closed

[2017-06-20 09:37] kepta commented on #101
This was fixed in the CONTRIBUTING.md.

@batpad if 👍  close this.

[2017-06-20 11:29] willemarcel opened #104 "About page broken in Firefox"
I know that you are working on a new homepage https://github.com/mapbox/osmcha-frontend/issues/88. Right now the homepage is broken in Firefox, It loads the page on the middle and it's not possible to scroll back to the top.

![screen shot 2017-06-20 at 08 21 51](https://user-images.githubusercontent.com/666291/27330993-21b39042-5592-11e7-9be3-c739231defe0.png)

[2017-06-20 11:47] willemarcel commented on #98
When we have the `AoI` implemented in the frontend, the user can save the filter and a URL to share like `http://osmcha.mapbox.com/aoi/<uuid>/`

[2017-06-20 12:04] kepta commented on #95
cc @maning

[2017-06-20 12:20] kepta opened #107 "favicon for osmcha"
We don't have a favicon :(

[2017-06-20 16:18] bkowshik opened #109 "Browser hangs when I visit changeset url"
When I visit the following url, my browser hangs. Looking at the Activity Monitor, I see that the memory used by the browser continues to grow.

- https://osmcha.mapbox.com/47514474/

On a Mac, I could `Quit` in my Firefox browser but for Chrome, I had to go the command line route.

[code]

---

cc: @kepta

[2017-06-20 16:56] kepta commented on #109
@bkowshik as a temporary fix you can remove the trailing `/`.
Since I have figured out this is causing problem. I will fix this asap.

Thanks for reporting.

[2017-06-20 21:00] planemad opened #110 "Cannot view new mapper changesets in combination with other reasons"
Statistically, most of the harmful edits come from new or inexperienced contributors. If one wants to see changesets from new mappers with a combination of any of the other reasons, it is currently not possible in the interface.

eg:
- [Filter: New Mapper, Created new city](https://osmcha.mapbox.com/?filters=%7B%22date__gte%22%3A%5B%7B%22label%22%3A%222017-06-13%22%2C%22value%22%3A%222017-06-13%22

[2017-06-20 23:39] batpad opened #111 "Add link to Who's That tool to check past usernames of user"
From @chtnha :

It will be very useful in finding🔎 the person who constantly renames their username to continue vandalism if they were caught by community or blocks received by DWG.

I found this tool a very useful in tracking usernames. http://whosthat.osmz.ru/ . I wish this tool be integrated on Details section like HDYC.

From me:

The idea would be to query this API to get a list of past usern

[2017-06-21 01:18] planemad opened #112 "Restore links to external tools in changeset-map"
It seems like changeset-map does not show links to various tools https://github.com/osmlab/changeset-map/issues/137#issuecomment-292494461 from within osmcha. Would be great to have these.

[2017-06-21 02:03] planemad opened #113 "Correcting an incorrect review"
We currently don't allow a mechanism to change the review made by another user:

**eg** This change of a new city node should have been marked bad https://osmcha.mapbox.com/changesets/48828299/ but was marked as good

How should we handle such cases?

[2017-06-21 05:35] kepta commented on #113
@planemad The backend implementation says only the user who created it in first place can clear it or a staff account is needed.

cc @willemarcel

[2017-06-21 05:36] kepta commented on #113
@batpad @manoharuss

[2017-06-21 05:42] batpad commented on #113
Upgrading data team users to staff accounts is on my to-do list for tomorrow.

Then we can override reviews. @kepta will the front-end just work or will it require changes?

[2017-06-21 06:42] ajithranka commented on #70
cc: @manoharuss who's been facing the same issue.

[2017-06-21 07:30] kepta commented on #113
@batpad @planemad I just want to be clear with the intent of this issue.

which one is it.
@planemad from Mapbox can't change the mark review and wants the entire team to be staff.

or
@planemad as an OSM user is disgruntled with a changeset and wants to override verify status.

[2017-06-21 07:31] planemad opened #114 "Display number of reviewed and harmful changesets"
As of date there are [12327](https://osmcha.mapbox.com/?filters=%7B%22hide_whitelist%22%3A%5B%7B%22label%22%3A%22No%22%2C%22value%22%3A%22False%22%7D%5D%2C%22reasons%22%3A%5B%7B%22label%22%3A%22New%20mapper%22%2C%22value%22%3A40%7D%5D%2C%22checked%22%3A%5B%7B%22label%22%3A%22Yes%22%2C%22value%22%3A%22True%22%7D%5D%7D) changesets that have been reviewed and [2761](https://osmcha.mapbox.com/?filters

[2017-06-21 07:34] manoharuss opened #115 "Notifications overlapping with tag dropdown"
![image](https://user-images.githubusercontent.com/8921295/27372350-f71240ae-5681-11e7-9cdb-3ef33b982b62.png)

This comes for every time we add a tag and comes in way of adding more tags quickly.

cc @rasagy @kepta

[2017-06-21 07:35] kepta commented on #107
@rasagy @batpad is it possible if we can work on this right now than push it for v1.1

[2017-06-21 07:38] abhisheksaikia opened #117 "Link to OSM in user details not working"
<img width="465" alt="screen shot 2017-06-21 at 1 03 20 pm" src="https://user-images.githubusercontent.com/13744156/27372476-75cf1980-5682-11e7-81ad-77c7929999ad.png">

When you click on `OSM`, the link it should lead to is `https://www.openstreetmap.org/user/ELVerdun`. Instead right now it is picking up the user id(6177690) instead of username : `https://www.openstreetmap.org/user/6177690`

[2017-06-21 07:41] planemad commented on #113
We would want any experienced user to have the power to amend a review if it is incorrect, except their own.

Since we have no real mechanism to evaluate an experienced user (Maybe the [HDYC verified badge](http://neis-one.org/2016/05/verified-osm-contributors/)?), lets start with the Mapbox team who are the largest power users of the tool.

[2017-06-21 07:46] #109 closed

[2017-06-21 07:46] #117 closed

[2017-06-21 07:46] #104 closed

[2017-06-21 07:52] kepta commented on #113
@planemad @batpad @willemarcel Maybe the backend have a credibility score attached to every osm user, which could  be a product of her `osmcha changeset marked good/bad` + `edit count` + `age` + other sources like `HDYC`.

[2017-06-21 13:52] planemad commented on #113
Any credibility system will be highly debated and might get trapped by bikeshedding if not well researched and optimized, HDYC already faces this problem. Lets have a simple solution that we can roll out within a day and discuss scoring separately.

[2017-06-21 14:18] willemarcel commented on #113
Right now, the API doesn't allow a staff user to override the changeset review. The staff users have the power to change the tags that another user added to a changeset.

If you want to allow the staff users to uncheck a changeset, I can change it in short time.

[2017-06-21 14:34] willemarcel commented on #114
We have three endpoints that provides stats:

* General stats: https://osmcha.mapbox.com/api-docs/#!/stats/stats_list
* AoI stats: https://osmcha.mapbox.com/api-docs/#!/aoi/aoi_stats_list
* User stats: https://osmcha.mapbox.com/api-docs/#!/user-stats/user_stats_read

[2017-06-21 15:25] willemarcel opened #119 "Initialize bbox filter map with a global view"
Currently, the bbox filter map zoom is initialized with the zoom in San Francisco, CA. It would be more practical to initialize it with a global view, so the user doesn't need to zoom out before zooming in another part of the world.

[2017-06-21 15:25] willemarcel opened #120 "Add date picker to date field filters"

[2017-06-21 18:25] geohacker opened #121 "When comment is empty the front-end breaks"
https://osmcha.mapbox.com/changesets/49726994

cc @kepta @batpad @ajithranka

[2017-06-21 18:26] willemarcel commented on #104
The page is loading correctly in Firefox, but the links to Guide, Shortcuts... are not working

[2017-06-21 18:43] willemarcel commented on #121
@geohacker the comment is not empty, but the changeset seems to be empty or was redacted by DWG, I believe it's an issue to `changeset-map`

[2017-06-21 20:13] batpad opened #122 "Don't add default start date if visiting from URL"
Not sure how best to handle this.

But steps to reproduce:

Go to filters, clear the date, make a search.

Then, share that URL and try opening it up - the interface adds a start date automatically.

[2017-06-21 20:17] geohacker commented on #121
Right @willemarcel

Similar https://osmcha.mapbox.com/changesets/49343813?filters=%7B%22users%22%3A%5B%7B%22label%22%3A%22RecklessRivers%22%2C%22value%22%3A%22RecklessRivers%22%7D%5D%7D - changeset is empty

[2017-06-21 20:34] willemarcel commented on #113
I believe it is solved with the change in the API that allows staff users to uncheck any changeset https://github.com/willemarcel/osmcha-django/commit/fb751cc85986919c03caab074606028cc81861a9

[2017-06-22 05:37] ajithranka opened #123 "Browser resize triggers a page reload"
![resize](https://user-images.githubusercontent.com/11095038/27418798-1e9236f2-573b-11e7-8c25-9058101be6f6.gif)

cc: @kepta @geohacker

[2017-06-22 06:22] #101 closed

[2017-06-22 07:43] bkowshik commented on #123
Changing the font size with `Cmd+` and `Cmd-` also triggers the same behaviour.

![zoom](https://user-images.githubusercontent.com/2899501/27422605-6b0e2390-574c-11e7-85dd-3fdba0fa6fb5.gif)

[2017-06-22 08:28] rasagy commented on #112
Link to changeset related tools are up here:
<img width="1280" alt="screenshot 2017-06-22 13 19 43" src="https://user-images.githubusercontent.com/1117531/27422929-8c753fd6-574d-11e7-9225-7481b9b46d52.png">

For the user-specific tools, we’re improving the user panel to highlight these links (#46)

[2017-06-22 08:35] kepta commented on #123
This is out of the scope for current releases.
Let reopen it when we are a bit more stable

[2017-06-22 08:35] #123 closed

[2017-06-22 08:37] kepta commented on #122
@batpad @geohacker  This is a complicated one. As per our conversation,
There are the two states we want to manage.
`date__gte as null` for an explicit empty start date.
and `` (no date__gte key) for using the default date.

[2017-06-22 13:34] #110 closed

[2017-06-22 13:34] #122 closed

[2017-06-22 13:37] #94 closed

[2017-06-22 16:17] willemarcel commented on #17
Some suggestions to a better filter organization:

* The **Basic** section could have also: `bbox size bound` (that one needs to be together with bbox) and, maybe, `comment` because it is a very important field.
* Validation section should have also `check date`, `checked by`, `tags` and `Harmful`
* `Source` should go to **Changeset Data** section
* In **Changeset Data** section, order the fields

[2017-06-22 16:23] kepta commented on #17
@willemarcel I just deployed v0.23, what do you think?

[2017-06-22 16:27] willemarcel commented on #17
@kepta great! It's excellent! My only suggestion is to put the `bbox size bound` next to the `bbox` field

[2017-06-22 16:30] willemarcel commented on #17
But I think it's not a priority, We could wait for one month. We introduced a new field to store the area of the bbox of the changeset, but as it's only filled in the changesets that were imported after the system upgrade, it will hide a lot of changesets from the results.

[2017-06-22 16:40] kepta commented on #100
this was fixed

[2017-06-22 16:40] #100 closed

[2017-06-22 16:55] geohacker commented on #96
@kepta I don't think this is entirely fixed. Some cases:

* https://osmcha.mapbox.com/api - instead of a 404, takes me to the app.
* go to https://osmcha.mapbox.com/api-docs/
  * click django login - takes me the app instead of django login?

Can you explain on this ticket what kind of URL overrides/state changes are happening on the front-end? Thank you!

[2017-06-22 17:32] kepta commented on #96
@geocacher as per conversation with @willemarcel I white listed the urls that he mentioned.

service workers configuration documented in the 7th point  [here](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#offline-first-considerations)

The white listing code can be found [here](https://github.com/mapbox/osmcha-frontend/blob/master/confi

[2017-06-22 18:30] willemarcel commented on #96
@kepta Everything is fine with the frontend. The urls that @geohacker tried to access are not configured in the backend.

`/api` only is not a valid url, as we don't have a view configured on it. The same to `/api/v1/`... it only works if you access a complete url like `/api/v1/changesets/`. All 404 errors in the backend URLs are redirected to the frontend.

The django login button was wrongly con

[2017-06-23 01:50] willemarcel opened #126 "Link to see changesets of a user"
Issue opened by @planemad in https://github.com/willemarcel/osmcha-django/issues/76 that I think is relevant.

[2017-06-23 06:36] rasagy opened #127 "Whitelist user section"
We have a filter to hide changesets by whitelisted users, but no way to see/add a user to the whitelist from the UI.

<img width="941" alt="screenshot 2017-06-23 12 00 12" src="https://user-images.githubusercontent.com/1117531/27469258-1b47765c-580c-11e7-9f1a-29fdf890e23a.png">

We should hide this filter for now, and make it visible when we have added:

- An option to see whitelist of the logged

[2017-06-23 08:45] rasagy opened #128 "Review, not verify (or check…)"
For consistent copy, we should stick to using one term to refer to the process of marking a changeset good/bad and adding tags. @jinalfoflia compared possible words and their connotations:

Going to _review_ all our copy today and make these changes across the UI and the guide (I believe the guide has mostly been covered by @jinalfoflia & @manoharuss)

cc @ajithranka @kepta

[2017-06-23 08:46] rasagy commented on #126
@willemarcel Definitely useful, @ajithranka is working on having this as part of the User panel.

[2017-06-23 08:48] kepta commented on #126
@rasagy this functionality was implemented in this #129

cc @ajithranka

[2017-06-23 09:12] kepta commented on #121
@geohacker @willemarcel any ideas on how we should show it in frontend.

[2017-06-23 09:27] kepta commented on #113
Fixed in https://github.com/willemarcel/osmcha-django/commit/fb751cc85986919c03caab074606028cc81861a9

[2017-06-23 09:27] #113 closed

[2017-06-23 09:28] kepta commented on #98
will open a new ticket when we start with AoIs.

Closing this for now.

cc @geohacker @willemarcel

[2017-06-23 09:28] #98 closed

[2017-06-23 09:28] kepta commented on #64
This was fixed in #67

[2017-06-23 09:28] #64 closed

[2017-06-23 09:29] kepta commented on #65
This was partially impletemted in #67

[2017-06-23 09:29] #65 closed

[2017-06-23 09:38] kepta commented on #92
This was fixed.

[2017-06-23 09:38] #92 closed

[2017-06-23 09:46] rasagy opened #130 "Better documentation of filters"
We should expand on the 4 types of filter categories, with some explanation on what flags are, typical flag reasons, and other aspects of the filter page.

cc @jinalfoflia @manoharuss

[2017-06-23 09:52] ajithranka commented on #121
We can't detect empty / redacted changesets on real-changesets S3. So for now, maybe just show a cleaner error message?

[2017-06-23 10:17] kepta commented on #112
@planemad considering the above screenshot are we missing anything in particular?

[2017-06-23 10:18] kepta commented on #88
This was done.

[2017-06-23 10:18] #88 closed

[2017-06-23 10:18] kepta commented on #71
This was fixed.

[2017-06-23 10:18] #71 closed

[2017-06-23 10:26] rasagy commented on #107
Let’s use the beautiful [assembly icon](https://www.mapbox.com/assembly/icons/) for osm that uses negative space nicely:

![image](https://user-images.githubusercontent.com/1117531/27478025-c201d25c-582b-11e7-93f7-4b287081f5cc.png)

I’m going to make favicon images based on http://realfavicongenerator.net/

[2017-06-23 10:34] kepta commented on #84
This would be fixed in 1.2

[2017-06-23 11:48] #68 closed

[2017-06-23 11:48] #115 closed

[2017-06-23 11:48] #119 closed

[2017-06-23 11:48] #120 closed

[2017-06-23 11:48] #126 closed

[2017-06-23 12:02] kepta commented on #38
Closing this

[2017-06-23 12:02] #38 closed

[2017-06-23 12:24] kepta commented on #111
This was added

[2017-06-23 12:48] kepta opened #131 "The user icon is broken for long names"
https://osmcha.mapbox.com/

[2017-06-23 13:15] rasagy commented on #131
@kepta Are you referring to the alignment issue like:

![image](https://user-images.githubusercontent.com/1117531/27483700-23f50cd2-5844-11e7-94d3-b975eac3f859.png)

https://osmcha.mapbox.com/changesets/49760365

[2017-06-23 13:21] rasagy commented on #46
This got updated:

Includes feedback from #126, #112, #111:
![image](https://user-images.githubusercontent.com/1117531/27483836-91e8b7d4-5844-11e7-9cb7-976a974ac4cf.png)

This will expand more once we start doing settings, and lists like #127:
![image](https://user-images.githubusercontent.com/1117531/27483854-a0e28076-5844-11e7-9823-2dd93688af8b.png)

We’re still iterating on the layout (center-a

[2017-06-23 13:25] rasagy commented on #111
@batpad This has been added as a feature that’ll show past usernames if usernames have been changed (via Whosthat API).

@kepta Did you find an example for this, and can you post it here please? 🙇

[2017-06-23 14:08] willemarcel commented on #121
@kepta I think we should show a message alerting that the changeset is empty

[2017-06-23 15:18] kepta commented on #111
@rasagy I would search for Chethan to find one.

[2017-06-23 15:20] kepta commented on #46
I guess the next step would be to make the
Good and bad clickable.

[2017-06-23 15:31] kepta commented on #131
Yes @rasagy

[2017-06-23 17:34] willemarcel commented on #46
This is awesome!!!

[2017-06-23 19:53] willemarcel commented on #127
As some people have already whitelisted users, I think it's not the case to hide it... New users won't understand why this filter exists, but I think it can be very useful to the Mapbox team.

[2017-06-23 21:07] willemarcel opened #132 "Date filters are not working"
I've seen you added the date picker to the date fields, but it seems they are not working. When I set them and apply the filter, the results are not being filtered by the dates and the date filters values are not in the URL.

[2017-06-26 10:42] Commodoortje opened #133 "can I filter a boundary (zb Netherlands)"
Can I filter a boundary zb the Netherlands?
At this moment I can create a BBox but there are also edits from Germany and Belgium in this filter.
[picture](https://www.dropbox.com/s/zb5w3cp3afc7dcc/2017-06-26_12-40-37.jpg?raw=1)

[2017-06-26 13:12] kepta commented on #133
At the moment you cannot. But we will soon be shipping out the filter where you can upload the geometry.

[2017-06-27 03:00] govvin opened #134 "old queries / URL parameters no longer supported"
It seems that the new version is silently ignoring older queries constructed from URL parameters

[2017-06-27 04:13] kepta commented on #134
I am afraid but the current filter URL is backward incompatible.

Is it possible if you could use the new filters page to create the same URL parameters?

[2017-06-27 05:44] kepta commented on #17
Closing this ticket.

[2017-06-28 04:54] kepta commented on #111
@batpad the  http://whosthat.osmz.ru/whosthat.php?action=names&q=Chetan_Gowda  is served in http and not https.
This is being blocked by the browser :(.
Do you think we can work around this ?

[2017-06-28 05:43] kepta commented on #111
cc @ajithranka do you think we can use proxy to circumvent the limitation of whosthat?

[2017-06-28 06:00] rasagy commented on #111
@kepta For now, how about we just show a link to the whosthat page like we are doing for HDYC?

[2017-06-28 06:45] #112 closed

[2017-06-28 06:48] kepta commented on #87
This was fixed.

[2017-06-28 06:48] #87 closed

[2017-06-28 07:20] kepta opened #135 "Testing The Sagas"
Tests
- [x] Auth
- [x] Comments

[2017-06-28 07:31] rasagy commented on #114
This might be interesting to show in the homepage, will explore this when we are working on improving it and include it in that ticket. Closing this for now.

[2017-06-28 07:31] #114 closed

[2017-06-28 07:33] kepta commented on #96
@geohacker @willemarcel we good to close this?

[2017-06-28 10:42] rasagy commented on #121
This is how it looks like right now:

<img width="1280" alt="screenshot 2017-06-28 12 22 06" src="https://user-images.githubusercontent.com/1117531/27632309-f50409a4-5c18-11e7-8c2e-1495d67dab46.png">

We should ditch the red background and make the error notification more helpful.

[2017-06-28 11:08] willemarcel commented on #96
@kepta for me, yes

[2017-06-28 11:20] kepta opened #137 "Order by is broken"
As per https://github.com/willemarcel/osmcha-django/issues/107#issuecomment-311628660

I misunderstood order by to have `+` and `-`, instead it is ` ` and `-` for descending.

[2017-06-28 12:21] rasagy commented on #127
@kepta can you document how the url can be manually updated to include the whitelist parameter in the filter query? That way if someone from the Mapbox team is trying to do this, we can point them to it without causing confusion to any new users around what the filter means.

The whitelist user section should anyway be added soon, so this is a quick fix. Does that sound okay @willemarcel?

[2017-06-28 12:52] willemarcel commented on #127
@rasagy good!

[2017-06-28 14:47] james2432 opened #139 "Cannot login"
I get to the "Read preferences" in the popup window, but when I click authorize the popup window goes blank and I am not signed in on the main page.

[2017-06-28 17:04] willemarcel commented on #139
Hi @james2432

Check if you are using the https url: https://osmcha.mapbox.com/

[2017-06-28 17:14] james2432 commented on #139
Login only works on HTTPS, if that is the case there should be a 301 redirect or an HSTS Preloading insctruction to not use HTTP

[2017-06-28 22:20] geohacker commented on #96
✌️ thank you for the explanation @willemarcel @kepta!

[2017-06-28 22:20] #96 closed

[2017-06-29 03:24] govvin commented on #134
Thanks for the response, @kepta.  I'm positive it could be done, but could be tedious with URLs like this:
`http://osmcha.mapbox.com/?usernames=+Brad-M%2C+EAA22%2C+Leipo+Spes%2C+imeeperezveedor%2C+digmaan%2C+crops+production&bbox=120.47048594404993%2C13.552746258220381%2C121.83257592681281%2C14.251082389674593&is_suspect=False&is_whitelisted=True&harmful=None&checked=All&all_reason=True
`

[2017-06-29 05:39] ajithranka opened #140 "Redirect to HTTPS"
Login fails on HTTP. See #139.
cc: @kepta @rasagy

[2017-06-29 05:39] ajithranka commented on #139
Sorry @james2432, we'll be fixing this soon.

[2017-06-29 05:39] #139 closed

[2017-06-29 05:51] #131 closed

[2017-06-29 11:43] jinalfoflia opened #144 "Consistent usage of sign in"
When a user tries to review a changeset without signing in OSMCha, this error message appears👇🏻

![image](https://user-images.githubusercontent.com/4470913/27685778-4ecef00a-5ced-11e7-8a72-cee626de73b1.png)

For consistent usage of terms, we should either change this to `sign in` or visa-versa, as we ask users to `sign in` using the button.

![image](https://user-images.githubusercontent.com/44709

[2017-06-29 12:44] jinalfoflia opened #145 "Have all the error messages in first person"
Will it be a good idea to have these error messages in the first person. For example: Instead of `User does not have permission to uncheck this changeset.` we could make it more personal: `You do not have permission to uncheck this changeset.`

We know that there is going to be just one user using this tool, and these messages sound friendlier.

Thoughts @rasagy @kepta @ajithranka?

[2017-06-29 13:15] #140 closed

[2017-07-03 12:09] #137 closed

[2017-07-04 06:21] ajithranka commented on #69
We have some validation on the date and number ranges.
Please see [pull/141#issuecomment-311919086
](https://github.com/mapbox/osmcha-frontend/pull/141#issuecomment-311919086).

[2017-07-05 14:03] planemad opened #149 "Clearing my changeset verification does not remove tags"
1. Verify a changeset as bad
2. Add severity tags
3. Clear verification

The severity tags do not clear as expected.

<img width="320" alt="screen shot 2017-07-05 at 7 31 26 pm" src="https://user-images.githubusercontent.com/126868/27867875-97f4ec2e-61b8-11e7-8dc5-5655a03a7220.png"><br>
[osmcha](https://osmcha.mapbox.com/changesets/42434144/?filters=%7B%22users%22%3A%5B%7B%22label%22%3A%22Jeremy%2

[2017-07-06 11:05] ajithranka commented on #107
Done!

[2017-07-06 11:05] #107 closed

[2017-07-06 11:06] rasagy commented on #107
This got shipped:
![image](https://user-images.githubusercontent.com/1117531/27908401-399a299e-6269-11e7-935c-a85d77532011.png)

[2017-07-06 11:12] rasagy commented on #62
Continuing this conversation in #19.

[2017-07-06 11:12] #62 closed

[2017-07-06 11:29] ajithranka commented on #149
cc: @kepta @rasagy @batpad

[2017-07-06 11:30] ajithranka commented on #149
+ @manoharuss

[2017-07-06 11:38] ajithranka commented on #70
This is a bit tricky to fix. Deferring for later.

[2017-07-06 11:39] ajithranka commented on #127
Deferring to a later milestone for now.

[2017-07-06 11:41] ajithranka commented on #41
Mostly done in PR #148. Thanks kepta!
Let's defer further improvements to the next milestone.

[2017-07-07 03:33] manoharuss commented on #149
+1
This was the case with the old instance of OSMCha as well but I did not bring it up as we were working on OSMCha v2. Clearing of a review probably means that the intial review was probably mistaken and needs to be changed (or the initial impression is not right anymore). So the tag's get outdated when the review is cleared.

Lets clear tags as well when we clear review.

cc @kepta @ajithranka @

[2017-07-07 04:16] kepta commented on #149
@batpad reading the comments I feel this should be a rule on the backend side.
No changeset can have a tag if it checked.
What do you think ?

[2017-07-08 10:57] yopaseopor opened #151 "New filter: overpass query"
As a mapper of OSM I use and know something about  http://www.overpass-turbo.eu . I think it would be interesting to add the possibility to filter by overpass query, which would make the tool extremely exact to check specific kind of nodes, relations and ways.

[2017-07-08 11:30] yopaseopor opened #152 "Option to mark some changeset to "don't want to say good or bad""
As a mapper of a determined zone I can say if a changeset is good or bad...but of some changesets I have...doubts but I can't mark it . I wish a "not reviewed but known" or "doubt" option.

[2017-07-08 13:10] kepta commented on #132
This was fixed in https://github.com/mapbox/osmcha-frontend/pull/150
cc. @willemarcel

[2017-07-08 13:10] #132 closed

[2017-07-08 13:14] kepta commented on #69
Closing this.
Feel free to open it in future.

[2017-07-08 13:14] #69 closed

[2017-07-08 13:15] kepta commented on #41
Lets open a new ticket if needed

[2017-07-08 13:15] #41 closed

[2017-07-08 13:20] kepta commented on #121
We are now displaying
`[id] does not have a comment.`
Closing this.

[2017-07-08 13:20] #121 closed

[2017-07-08 13:21] kepta commented on #134
No further action.
Closing for now.

[2017-07-08 13:21] #134 closed

[2017-07-09 13:56] willemarcel commented on #152
It could be done by adding a tag. @kepta what do you think about to change the interface to allow the user to add tags before the review?

[2017-07-10 05:32] kepta commented on #152
@willemarcel
As you said, decoupling tags and reviewing, would greatly simplify a lot of our current workflow problems.
This would unblock https://github.com/mapbox/osmcha-frontend/issues/149

@planemad @manoharuss ?

[2017-07-10 05:37] planemad commented on #152
👍 for being able to add tags without a a review. This essentially seems like something like "Request a review" where either a mapper or a reviewer can flag certain changesets to get it more eyes on it.

[2017-07-10 05:38] manoharuss commented on #152
👍  for "Request a review"

[2017-07-10 05:58] kepta commented on #152
This sounds great, will go ahead and do the needful.

[2017-07-10 07:26] kepta opened #154 "Having a changeset share mode"
Currently it is difficult for a person to just share a changeset.
Because the URL is designed to easily share filters. To bypass this limitation she would either have to cleanup URL manually or click reset filters.

we should allow a single changeset share mode

@rasagy @willemarcel ?

[2017-07-10 07:34] kepta commented on #151
This sounds great @yopaseopor, @willemarcel thoughts ?

[2017-07-10 07:44] rasagy commented on #103
@kepta Can you point me to where the changeset-map related errors (like this) are coming from?

<img width="475" alt="screenshot 2017-07-10 13 11 59" src="https://user-images.githubusercontent.com/1117531/28007623-b94f9f56-6571-11e7-95bc-08d109cf77fe.png">

[2017-07-10 07:48] rasagy commented on #111
Minor issue: We should either hide the `past username` field when there are no past usernames, or show a more relevant message.

IMO, let’s hide that field unless Whosthat returns a past username, and show it below the current username:

<img width="471" alt="screenshot 2017-07-10_13_13_44 edited" src="https://user-images.githubusercontent.com/1117531/28007748-49576b7e-6572-11e7-98fb-731299e7025f.

[2017-07-10 08:04] #135 closed

[2017-07-10 09:44] rasagy commented on #154
A common pattern is to have a small icon next to the heading/in the header of a page that pops-up a share interface:

![share-icon](https://user-images.githubusercontent.com/1117531/28007855-b44ec83c-6572-11e7-9ef9-215d6e72b0b2.png)
![image](https://user-images.githubusercontent.com/1117531/28012086-595cbdde-6582-11e7-820d-661eb0fc237a.png)

If we don’t find a need of having a complex share window

[2017-07-10 12:59] willemarcel commented on #154
I think the shareable like could be in the top where we have "Changeset: #number Open with"
As we already have the OSM changeset link in the `Open with` button, the link in the changeset number could be the OSMCha link.

[2017-07-10 13:19] willemarcel commented on #151
It's a good idea, but I don't see a way to implement it... We don't have all OSM features in the OSMCha database, so we could only search in the suspicious features that we have. A problem is that we don't know if a feature that we have in our database is the most updated version, so the query could return a result with features that are not updated or doesn't exist any more.

As overpass doesn't

[2017-07-10 13:32] willemarcel opened #155 "Let the user know that the changeset is not in our database"
If the changeset is not in the osmcha database we show its visualization, but I think we could add a message like: "This changeset is not in OSMCha database. You can visualize it, but it's not possible to tag or review it."

[2017-07-10 15:36] kepta opened #156 "User name breaks in Arabic"
https://osmcha.mapbox.com/changesets/50179818

The username get jumbled in the above changeset.

[2017-07-10 15:50] yopaseopor commented on #151
I would see as one filter more, using the most updated data. People use OSMcha can know these limitations. Overpass is a "query language" well known for the OSM community and would be the best filter to find something specific in OSM. Also...Are you telling us your statistics and filters are based in not updated OSM data?? Are you telling us OSMCha is not reliable? I thank and saw OSMCha with cale

[2017-07-11 04:26] ajithranka commented on #155
@willemarcel do you have an example changeset?

[2017-07-11 04:49] planemad commented on #151
@yopaseopor it would be great if you could describe your use case for an overpass filter. How would you use such a feature?

[2017-07-11 06:48] planemad commented on #154
Even when viewing a single changeset it is relevant to have a list of:
- all other changesets by the user
- all other changesets in the area
- filter used to find this changeset

Why is it useful to have just a single changeset in the list?

[2017-07-11 07:00] planemad opened #157 "Improvements to user details tab"
This is the most important view to understand the history of the user and designing this well can really make it easier to evaluate the edits of especially experienced users.

<img width="577" alt="screen shot 2017-07-11 at 12 20 37 pm" src="https://user-images.githubusercontent.com/126868/28054703-a31a0128-6633-11e7-8613-35a9c5de44ee.png">

Some quick suggestions:
- Link good and bad changesets t

[2017-07-11 10:51] yopaseopor commented on #151
Nowadays in Spain we are so near of big agreements with official
adminsitrations to use their data inside OSM. One of these big tags would
be the levels of a building. So , for example I would try to find if any
people has change something about building levels in a specific zone , to
keep the stability and the realibility of the data.

With overpass...you can ever find nearly whatever you want. F

[2017-07-11 11:21] willemarcel commented on #155
@ajithranka https://osmcha.mapbox.com/changesets/16156126/
Now I've seen that there is a message, but it disappears after some seconds... I think it would be good if it stays on the screen until the user close it.

[2017-07-11 11:44] rasagy commented on #152
We must be clear with the goal for **tags**: Are they to add more metadata to a _changeset_ or to a _review_?

From one of the comment from #149:

Looking at the current list of tags, all of them are relevant to a changeset that has been marked 👎 :
![screenshot 2017-07-11 16 47 32](https://user-images.githubusercontent.com/1117531/28065981-ae9193a2-6658-11e7-9846-ea1c486983aa.png)

Decoupling and

[2017-07-11 11:45] rasagy commented on #149
Holding on to this till we can understand how to approach tags & review as being discussed in #152.

[2017-07-11 11:57] rasagy commented on #157
@planemad this seems like a good idea. Do you think it’s more common to only look at either good/bad changesets or is it more useful to see all changesets by the user (by clicking on `OSMCha`)? cc @manoharuss

@planemad I honestly feel being more objective (by showing the no. of edits) is better than relying on a subjective title that might not have a standard meaning. Are HDYC titles like Legenda

[2017-07-11 12:03] willemarcel commented on #151
Hi @yopaseopor,

:)

We have all changesets since we begin to use OSMCha, but we don't have all the OSM features (nodes, ways, relations). The features we have in our database are the ones that [osm-compare](https://github.com/mapbox/osm-compare) consider as suspicious/wrong and each feature are listed in the changeset page that created/updated it.

As we don't delete old features, if a user fixes

[2017-07-11 12:17] willemarcel commented on #157
I agree with @rasagy. I think the number of edits is enough, furthermore it would require us to make more one http request and the HDYC needs authentication to get user information now.

[2017-07-11 12:40] willemarcel commented on #152
@rasagy Your considerations are very relevant. I specially like the idea of separating the tags by use cases.

I feel the necessity of a tag to say that a changeset is not harmful, but contains some not drastic errors. Currently I'm marking as good and adding `Severity: Low` and `Resolved`.

Right now the API allows any user to add and remove tags while the changeset is not reviewed. After the rev

[2017-07-11 14:08] rasagy commented on #154
I’m not seeing a very strong use case of having a button/flow to do this right now — if one really **doesn’t** want the filtered list then removing the param from the url works. Let’s revisit this for the `v1.3` milestone to understand the common need to share changesets.

As of now:

To see these, you’ll have to go to User panel > click on OSMCha link to see other changesets. More in #157.

This

[2017-07-13 05:11] SwiftFast commented on #152
Perhaps "good" needs to be split. Sometimes I want to say "I skimmed it and it looks sane, but I haven't visited the area and/or checked thoroughly", and sometimes I want to say "I am sure it's all good".

It saves time - skimmers don't have to re-check what I just skimmed. But someone with better knowledge of the area wouldn't be led to believe it's all good and would check it thoroughly.

[2017-07-13 05:25] planemad opened #159 "Improve user focus for flagged changesets"
This changeset was initially marked as good by the reviewer https://osmcha.mapbox.com/changesets/49837072/

On a closer look, this accidental changeset by an experienced user caused significant harm to the map by dragging over 40 ways. 4 features were flagged by detectors.

The interaction to find the problematic feature seems very expensive:
- The initial view shows that there was case of impossi

[2017-07-13 07:26] rasagy commented on #159
Great feedback @planemad! While we’ve focused on making the interface _efficient_ for Mapbox Data team who are used to the validation process, we still have a lot of ground to cover to make the interface more intuitive for new users. Let me explore how we can make the features & discussion panels stand out more, add more explanations as tooltips, and make sure all actions have the relevant afforda

[2017-07-13 11:36] willemarcel commented on #159
@rasagy would it be possible to zoom to the feature when we click on the `Map` link? Sometimes I thought that this link doesn't work, because if the feature is not on the screen, we just see the feature info appear, but I was expecting to see the feature on the map.

[2017-07-14 18:45] muralito opened #160 "Improvement to filter: NOT <user>"
I would like to see a checkbox in the user list (or something like that) to exclude users, so I can exclude users I trust (like me ;-)) and others that always behave well.

[2017-07-15 04:07] kepta commented on #160
hey @muralito have a look here https://github.com/mapbox/osmcha-frontend/issues/127.

[2017-07-19 05:47] #151 closed

[2017-07-19 05:47] kepta commented on #160
Closing ticket duplicate of #127

[2017-07-19 05:47] #160 closed

[2017-07-19 06:14] planemad opened #161 "Tag dropdown is hidden by changeset-map details"
Cannot access all the tags in the list.

<img width="303" alt="screen shot 2017-07-19 at 11 42 26 am" src="https://user-images.githubusercontent.com/126868/28353053-77a48726-6c77-11e7-817b-cc09f525b72a.png"><br>
[changeset](https://osmcha.mapbox.com/changesets/50392986?filters=%7B%22date__gte%22%3A%5B%7B%22label%22%3A%22%22%2C%22value%22%3Anull%7D%5D%2C%22users%22%3A%5B%7B%22label%22%3A%22Tinkerbe

[2017-07-24 11:07] kepta opened #163 "Autocompletting user names"
It would be great to auto complete user names in the user filter.

[2017-07-25 12:32] willemarcel commented on #17
Now I think it's already a good time to give more visibility in the interface to the **Bbox size bound**.

[2017-07-25 19:03] planemad opened #165 "Have a map view of the changeset list"
A visualization of the changeset locations after applying a filter is very useful to understand the geographical spread of edits. Such a view is available in the OSM.org history tab and helps narrow down to a map area for closer inspection.

<img width="669" alt="screen shot 2017-07-26 at 12 28 16 am" src="https://user-images.githubusercontent.com/126868/28588923-b302cad6-7199-11e7-9b80-08f3bde659

[2017-07-26 11:39] simonpoole opened #166 "Add filter for current/receive blocks"
The API can return information on the number of past and currently active blocks http://wiki.openstreetmap.org/wiki/API_v0.6#Details_of_a_user

It would be a good idea if we could filter on blocks and potentially have chagesets from users that have received say, more than one block, flagged.

[2017-07-26 11:45] batpad commented on #166
cc @willemarcel - is this something that seems reasonable to add to the `osmcha` code and hit that API for each changeset that comes through to check if the user who made the changeset has any blocks and if yes, flag with a reason like "User has blocks" or so? If this seems doable, we can create a ticket in `willemarcel/osmcha` and close here.

Thanks for the issue, @simonpoole !

[2017-07-26 12:12] willemarcel commented on #166
@batpad Yes, It's a very good idea!

[2017-07-26 18:22] zlavergne commented on #157
I would love to see more detailed and accurate user stats in this view. For instance, having detailed created, modified, deleted counts for nodes, ways, and relations and accurate number of edits (rather than changesets - your current "edit" count is for changesets rather than total edits).

[2017-07-28 14:43] willemarcel commented on #166
It's already implemented and in production, so @kepta can close it.
Thanks, @simonpoole !

[2017-07-28 14:52] willemarcel opened #167 "Make save filter clearer"
In my opinion, the possibility of saving a filter is not clear to the user. For me it wasn't obvious that I could click on `unnamed *` to edit it and that I need to press `Enter` to save the filter with this name.

[2017-07-28 15:25] #166 closed

[2017-07-31 02:27] naoliv opened #168 "Detecting some very wrong "Impossible angle in a highway" problems"
Take a look at the flagged features from https://osmcha.mapbox.com/changesets/50705989/

In one of them we have this:
![](https://user-images.githubusercontent.com/982338/28760375-19e606f0-757d-11e7-8a1e-cc91fc543fa7.png)

Which is this way https://www.openstreetmap.org/way/511591015

There is really nothing wrong with it, while osmcha says that it has an "impossible angle"
This same problem can b

[2017-08-04 13:45] willemarcel opened #171 "Add AoI RSS feed link"
I'm submitting a **feature request.**

## *Brief Description*
We added RSS feeds to AoIs, it would be good to add a link to it in the Saved Filters section:

![captura de tela de 2017-08-04 10-43-00](https://user-images.githubusercontent.com/666291/28971314-e2766128-7901-11e7-82fe-6b1ba3ebfda1.png)

URL example: https://osmcha-django-staging.tilestream.net/api/v1/aoi/37334b0f-1c0b-4adc-a504-9f3a76

[2017-08-04 19:14] willemarcel commented on #167
Another good feature would be, when the user load a filter and update the query params, update it, instead of creating a new one.

The `Add+` button in the `Saved Filters` section of the user page is not making much sense as the user can not update the query params later.

[2017-08-04 21:37] willemarcel opened #172 "Improvement on changeset listing"
* **I'm submitting a ... **

  - [ ] bug report
  - [ ] feature request
  - [ ] support / question

## *Brief Description*
When the user access a changeset with a direct link, like: https://osmcha.mapbox.com/changesets/50845434/, instead of listing the last changesets of any place in the world in the left sidebar, make a query using the bbox of the current changeset.

## What is the motivation / u

[2017-08-07 06:55] kepta commented on #171
@tridip1931 can you look into this?

Feel free to ask any doubt or if you are stuck.

[2017-08-07 07:00] kepta commented on #172
This is a nice idea @willemarcel .

There are a couple of problems with the changeset list. The user doesn't clearly have an idea what the list is about, unless he applies a filter.

How do we communicate to the user that the list you are seeing on left is the bbox query or whatever the current context is.?

[2017-08-07 08:01] tridip1931 commented on #171
@kepta
I am able to add icon, I also know aoi id is required for creating the RSS link which I got from redux tool. I think I would need help to figure out in the code how should I call the aoi ID and put it in a link.

[2017-08-07 08:49] kepta commented on #171
@tridip1931 if you get the AOI-id, I think that should be enough to create a link for RSS feed.
What do you wanna call ?

[2017-08-07 08:57] kepta commented on #19
This was implemented.

[2017-08-07 08:57] #19 closed

[2017-08-07 09:01] kepta opened #173 "Visibility of Bbox size bound"
## I'm submitting a _feature request_

## *Brief Description*
We need to make the bbox size bound filter more prominent.

## What is the motivation / use case for this feature?
Currently it is not linked to the map bbox query and the user has to dig in to find out how to limit the size. And in general it is a bit unclear how to filter by a size bound.

Lets use this ticket to discuss on how to imp

[2017-08-07 12:12] willemarcel commented on #173
We could only activate the `bbox size bound` input if the BBOX is defined.

Other suggestion I have is to change the presentation to be something like:
**Ignore changesets whose bbox area is larger than `< number input >` times your filter area**.

If the user doesn't touch it, don't apply the filter.

[2017-08-07 13:23] willemarcel commented on #172
Good question... one idea: change the filter button colour to a darker one when a filter is active.
When querying by the changeset bbox, add a message in the sidebar: "Filtering by current changeset bbox" (maybe the text is longer than ideal...)

[2017-08-09 13:27] tridip1931 commented on #171
Added RSS link. Closing this ticket.

[2017-08-09 13:27] #171 closed

[2017-08-13 12:47] kepta opened #177 "Need to visualise live OSM"
## I'm submitting a feature request.

## *Brief Description*
A lot of osmcha users want to see the actual live OSM data.

## What is the motivation / use case for this feature?
This helps them see what is the current status of that particular area. Changeset map only compares the changeset with previous version.

[2017-08-14 01:03] willemarcel commented on #177
I think it would be good to have the default OSM tiles style in changeset map. I've already felt the necessity to see how the actual map looks like.

[2017-08-14 05:38] ajithranka commented on #177
[Related ticket](https://github.com/osmlab/changeset-map/issues/61) on changeset-map.
cc: @rasagy

[2017-08-20 04:59] tyrasd commented on #84
A similar thing happens with the imagery_used field also, like here: https://osmcha.mapbox.com/changesets/51268021 (the layer's name is `South Tyrol Orthofoto 2014/2015`)

[2017-08-23 13:37] willemarcel opened #178 "add route to easily filter user changesets"
## I'm submitting a _feature request_

## *Brief Description*
Add a route like `osmcha.mapbox.com/users/wille/`, which would apply a user filter in the initial query.

## What is the motivation / use case for this feature?
It would make it faster if I want to see all changesets of a user but I'm not visualizing one of his changesets. It would be easy to share the url with someone as well.

[2017-08-24 02:34] govvin opened #179 "add Level 0 editor as an option to "Open with" changesets"
## I'm submitting a _feature request_

## *Brief Description*
[Level 0](http://level0.osmz.ru/index.php) is an advanced editor that's perfect for quick edits

## What is the motivation / use case for this feature?
To quickly fix errors or issues requiring minor edits. Minor issues including typographical errors, or incorrect or incomplete tags.

## What  is the current behaviour, (attach relevant

[2017-08-24 05:13] kepta commented on #179
@tridip1931 can you look into this>

[2017-08-24 12:20] tridip1931 commented on #179
@govvin @kepta Can you give me sample url that contains level 0 link with changeset id?
I believe level 0 do not parse by URL.

[2017-08-24 12:37] govvin commented on #179
You may use the url query parameter

- a node: ` http://level0.osmz.ru/?url=node/240095754`
- a changeset: `http://level0.osmz.ru/?url=changeset/51391460`

[2017-08-24 12:57] tridip1931 commented on #179
Thanks @govvin 👍

[2017-08-26 10:39] manoharuss opened #182 "Let's have a OSMCha reason for `review_requested` tags from changeset metadata"
## I'm submitting a _(bug report/feature request/ support or question)_

- Feature request

## *Brief Description*

The new version of iD editor adds a toggle when uploading a changeset that lets mappers add an extra tag if they would like their changeset to be reviewed by the community. I think it would be a great reason to have a suspicious reason for this in OSMCha for the use of the community.

[2017-08-27 13:23] #17 closed

[2017-08-27 13:24] kepta commented on #161
@tridip1931 you think you can take this one?

[2017-08-27 13:24] kepta commented on #156
@tridip1931 can you take a look at this?

[2017-08-27 14:26] willemarcel commented on #182
@manoharuss It is already implemented in osmcha https://github.com/willemarcel/osmcha/commit/95bf57267077633cf00dbe05fe91c28592e915ca

@batpad it seems osmcha lib is not updated in the changeset ingestion pipeline

[2017-08-28 09:20] tridip1931 commented on #161
@kepta @planemad I am not aware what the issue is? Do I have to put scroll in the dropdown for smaller windows? In the live version I am able to see all the options.

<img width="214" alt="screenshot 2017-08-28 14 49 11" src="https://user-images.githubusercontent.com/7458983/29767451-1e5ea6da-8c00-11e7-9a95-1e15479f3381.png">

[2017-08-28 09:22] kepta commented on #161
@tridip1931 this happens when you select a feature and the feature table hides the dropdown.
You can see that happening in @planemad 's screenshot.

To reproduce,
1. Decrease the window height
2. Select a feature on map, (this should bring the table on the lower left)
3. Click on tags to get drop down.

[2017-08-28 09:22] planemad commented on #161
@tridip1931 yup, this looks fixed! The menu would previously go under the changeset map infoboxes.

<img width="405" alt="screen shot 2017-08-28 at 2 51 31 pm" src="https://user-images.githubusercontent.com/126868/29767536-6ba72002-8c00-11e7-88ae-4e066f4af2c7.png">

[2017-08-28 09:22] #161 closed

[2017-08-28 10:16] tridip1931 commented on #156
The issue seems to be related to chrome & safari.

_Safari_
<img width="1261" alt="screenshot 2017-08-28 15 41 09" src="https://user-images.githubusercontent.com/7458983/29769282-596b55b4-8c07-11e7-8656-4f3da9a11430.png">

_Chrome_
<img width="1379" alt="screenshot 2017-08-28 15 42 11" src="https://user-images.githubusercontent.com/7458983/29769323-80bace42-8c07-11e7-9af8-3cb76b47cfe2.png">

But i

[2017-08-28 10:16] #179 closed

[2017-08-28 12:37] #156 closed

[2017-08-29 07:48] kepta commented on #182
@willemarcel we good to close this?

[2017-08-29 08:02] simonpoole opened #184 "Make filtering for tags more refined"
Enhancement request

https://osmcha.mapbox.com/changesets/51496339?filters=%7B%22ids%22%3A%5B%7B%22label%22%3A%2251496339%22%2C%22value%22%3A%2251496339%22%7D%5D%7D

lit up like a Christmas tree, however the current tag filter simply shows all tagged changesets, which makes if difficult to detect the high-priority "must fix now" changesets because of all the noise, which is why I assume it took a

[2017-08-29 09:10] kepta commented on #184
If I understand it correctly,

1. There needs to be a button, which should be prominent.
2. This button can be worded something like `Show Me Suspicious`.
3. This button would simply apply filters which will flag the important ones.

Use case:
This will help new comers (to OSMCha), by simply clicking a button they can see changesets which are suspicious.

Extension:
We can discuss of having a simp

[2017-08-29 09:32] simonpoole commented on #184
I would not necessarily see a need for something automagic, just a filter that allows you to only see say changesets that have at least 3 tags and more. That should really be simple enough for all including beginners to understand, but naturally it could be made more luxurious if somebody has the time.

[2017-08-29 11:36] willemarcel commented on #182
yes, @kepta

[2017-08-29 12:36] willemarcel commented on #182
@manoharuss it has been deployed

[2017-08-29 18:01] #182 closed

[2017-08-29 19:50] mmd-osm commented on #155
Rather than showing an error message, I'd recommend to take a look at the Overpass backend instead.

Here's an example: http://5.9.84.147/achavi2/index.html?changeset=16156126

[2017-08-30 05:07] planemad commented on #184
@simonpoole Do you mean something like "show me latest unreviewed changesets with the maximum number of suspicious reasons"? It would help if you can clarify exactly what you have in mind.

[2017-08-30 05:30] batpad commented on #184
@simonpoole thanks for the ticket!

So I think there's probably separate threads here on making things easier, etc. but in terms of features, I see two things concretely:

1> Be able to filter changesets by "number of suspicions" - so you'd be able to say "only show me changesets that have been tagged with more than 3 reasons", for eg. - @willemarcel does this seem like something easy / doable in

[2017-08-30 05:37] kepta opened #186 "The case for for a new user"
## I'm submitting a feature request.

## *Brief Description*
OSMCha is a great tool for the community. But for a new user to actually see if its worth, he/she needs to invest time in the daunting list of advanced filters. For a user familiar to OSMCha it is a desired route, but we might user a potential OSMCha user if we don't make it easy for a new comer to use this app. This might even be useful

[2017-08-30 07:09] tridip1931 commented on #186
The case of new user can be termed as **Onboarding new users**

I really loved the idea of introducing OSMcha with common english language for first time users instead of technical jargons.

I believe a full blown onboarding flow is required with a specific path from seeing harmful changesets to verifying it as good or bad.

Love to hear thoughts on this.

[2017-08-30 07:17] simonpoole commented on #184
@planemad minimum number of tags not maximum, while theoretically you could express that with the current boolean expressions, it is obviously not practical.

@batpad yes the alternative would be, as most spam filters do, generate a score (associate a score with each of the tags and add them all up) and then allow the user to filter on a minimum score (essentially what I'm suggesting is simply a s

[2017-08-30 08:10] mmd-osm opened #187 "Response times overpass-cfn-production.tilestream.net"
Not sure if this the right repo to report and track this issue, otherwise please provide some pointers to a more suitable place.

I noticed some that some of the changeset visualizations are being served by overpass-cfn-production.tilestream.net as a backend, which tends to take some time. That's especially relevant for older changesets, which are not being served from aws s3 cache.

For illustrat

[2017-08-30 08:11] kepta commented on #187
cc @batpad @geohacker

[2017-08-30 08:25] batpad commented on #187
@mmd-osm that is correct. For older changesets that we don't have in the s3 cache, we query our own overpass instance for results (so as to avoid overloading the main instance).

Thanks for identifying that this seems slower than the main overpass instance - we are planning for an overhaul of our overpass backend infrastructure in the next few weeks anyways, hopefully that improves the case for ol

[2017-08-30 08:25] #187 closed

[2017-08-30 08:33] mmd-osm commented on #187
That's wasn't exactly the main overpass instance, but a dev instance.

Great to know, in case you have any questions on how to speed things up, always feel free to reach out: https://listes.openstreetmap.fr/wws/info/overpass

[2017-08-30 08:44] batpad commented on #187
Thank you so much @mmd-osm ! We probably will :-)

[2017-08-30 11:42] willemarcel commented on #184
@batpad yes, I'll work on it!

[2017-08-30 12:46] batpad commented on #184
Yes, I think this would be a good longer-term goal -- I think, though, our current and past attempts at doing something like coming up with an automated "severity score" or so have failed due to, really, the diversity of possible edits in OSM, good and bad, and it being really hard to automagically assess severity. I think the current idea has been more along the lines of "let people figure out wh

[2017-08-30 20:11] willemarcel commented on #184
@batpad I just finished to add this filter to the API https://github.com/willemarcel/osmcha-django/pull/127

[2017-09-01 06:38] kepta commented on #111
This was fixed.

[2017-09-01 06:38] #111 closed

[2017-09-01 06:38] kepta commented on #70
@tridip1931 can you take a look at this one?

[2017-09-01 20:33] planemad opened #189 "Make new mapper a separate flag and not a reason"
## I'm submitting a _feature request_

## *Brief Description*

Since `new mapper` is considered a flagged reason, the current mechanism of filtering makes it impossible to filter for the following use case:
- Show me all edits by new mappers that have flagged features
- Show me all edits by new mappers that have added a large building or invalid highway tag

Propose we make `new mapper` a separate

[2017-09-04 05:14] planemad commented on #165
Such a feature is available in https://resultmaps.neis-one.org/osm-changesets?comment=review_requested=yes#2/35.7/9.8
- Map of all the changeset bboxes: Helps prioritize changesets to review by location or size
- List of countries with most bboxes: Helps understand geographic distribution
- Timeline of changesets: Helps understand specific events and editing patterns

<img width="1186" alt="screen

[2017-09-04 07:12] planemad opened #190 "Filters for changeset discussion"
## I'm submitting a _feature request_

## *Brief Description*
Changesets discussions are a core part of the community interactions on the map and are the primary medium to interact with a contributor to provide feedback or clarify issues  with a map edit. Having osmcha filters to list changesets by amount of discussion activity will be very useful to find actionable issues.

## What is the motivat

[2017-09-05 10:22] tridip1931 commented on #70
## Debugging

I believe this is the issue of the `react-select` library.

It kinda messes up when using `Async`

It also does not work in the [Official Demo Page](https://jedwatson.github.io/react-select/)
![alt-image](https://cloud.githubusercontent.com/assets/8257269/22774318/986d25e0-eecc-11e6-82a0-83c8ed4d2ceb.gif)

Any thoughts on this?

**cc:/** @kepta @batpad

[2017-09-06 05:11] kepta commented on #190
@willemarcel correct me if I am wrong,
but the backend doesn't yet support changeset discussion.

Currently, the front-end is directly querying [osm-comments-api](https://osm-comments-api.mapbox.com/api/v1/changesets).

Ideally, I would see this API being used in some way by osmcha backend. @batpad ?

[2017-09-06 16:46] willemarcel commented on #190
@kepta yes, we don't have the number of comments in our database

[2017-09-07 20:48] DaveF63 opened #193 "pokemon nest??"
Hi
Why has my changeset been flagged with this:

![image](https://user-images.githubusercontent.com/9528328/30184479-1a3181ae-9416-11e7-9c5a-9ba02735bac3.png)

https://osmcha.mapbox.com/changesets/51824005/

[2017-09-09 01:52] govvin opened #196 "Add option to view street-level imagery when viewing details"
## I'm submitting a _feature request_

## *Brief Description*
When you click a modified or added object while reviewing a changeset, a small window in the right corner of the screen display additional details, with options to view more in OSM or Deep History. How about adding street-level imagery from Mapillary or OpenStreetCam ?

## What is the motivation / use case for this feature?
While it's p

[2017-09-10 14:43] Locke commented on #113
@kepta did you mean to close this issue? It looks to me like the original discussion is still unresolved: how should the workflow be to uncheck a validation?

As part of the HOT project in Florida regarding Hurricane Irma we spotted vandalism done by CoastalGenius. Some of their changesets have been validated in osmcha but reverted in osm.

Maybe add a "request uncheck of validation" button or som

[2017-09-11 01:07] willemarcel commented on #193
@DaveF63  Some filters are wrongly considering the user as a 'new user'. I'll try to work on it soon. 'Pokemon nest' are some features that people add to the map expecting that it would influence the pokemon go game.

[2017-09-14 23:07] zlavergne opened #200 "Big picture stats"
## I'm submitting a feature request
## *Brief Description*
Going one step further than saving filters, there should be stats of those filters. A user would be able to gather a plethora of information at a glance just by showing stats about that filter. There are a ton of useful stats that could be shown.

## What is the motivation / use case for this feature?

1. Users mapping as a team will be ab

[2017-09-15 13:38] willemarcel commented on #200
Hi @zlavergne !

Thank you for you input! The osmcha API already provides stats, but we don't have a frontend for it yet.

We have [stats for saved filters (AOI)](https://osmcha.mapbox.com/api-docs/#!/aoi/aoi_stats_list) and we have [another endpoint](https://osmcha.mapbox.com/api-docs/#!/stats/stats_list) that can receive the same parameters used in a changeset query.

[2017-09-15 17:10] zlavergne commented on #200
@willemarcel Are you guys working on the frontend? I'd be happy to contribute where I can.

[2017-09-15 18:11] willemarcel commented on #200
Nice!! Your contributions are welcome, @zlavergne! I believe we don't have anyone working on this. Does @kepta confirm it?

[2017-09-16 13:42] Hjart commented on #133
I'd appreciate having this too. I'm usually interested in what's happening within the borders of Denmark (the country) only, so I'd appreciate being able to select "Denmark" as a filter (or even one of the 5 administrative regions). The borders are in OSM allready, so it shouldn't be necessary to upload any geometry.

[2017-09-17 05:37] kepta commented on #200
@zlavergne would be more than happy to help you out in cutting a PR for this issue.

Let me know if you need help setting up the project or any clarification on how a certain piece of code works.

Also, the documentation is non existent 😓. We have plans on improving it in near future.

[2017-09-17 11:56] bgirardot opened #201 "Monitor Cadastral points man_made=survey_point was moved"
These points should almost never move without a very good source tag like "survey"

They are critical and accidental moves are a problem. Easy to revert though as the are usually just simple points.

Use case: Newbie mapping well survey Island, during Hurricane Irma. See photo of points that would be very damaging if moved by new mappers helping during a hurricane or other major event.

![2017-09-

[2017-09-17 12:14] kepta commented on #201
@bgirardot can you please stick to the issue ticket template. It helps us a lot ✌️

[2017-09-17 13:05] bgirardot commented on #201
I'll look again, but where to leave a feature request is not clear in the osmcha website. It links here.

Also the template references a non existent directory the doc/ directory, it is not in this repo. I lost confidence in it then :) Or I am just not understanding something. that is usually the case.

[2017-09-17 13:17] bgirardot opened #202 "Feature Request: flag any change to man_made=survey_point"
Note: Make sure a ticket for this does not already exist
done, no word survey in issues
Note: Make sure to refer to project docs / README to make sure tool is used correctly
Directory does not exist in this repo.
Consulted the link on contributing at the top of this new issue page, it does not mention how to make a feature request, only bug report.

## I'm submitting a feature request

## *Brief D

[2017-09-17 13:19] bgirardot commented on #201
Ok, I followed the template which was bug report focused, i hope it helps. sorry for ignoring the template the first time, just did not seem to appy to me, but i saw other issues that looked like feature requests.

resubmitted as issue #202

[2017-09-17 13:19] #201 closed

[2017-09-18 05:33] planemad commented on #202
This should be a compare function on https://github.com/mapbox/osm-compare to flag any movement to `man_made=survey_point` nodes.

[2017-09-18 05:59] batpad commented on #202
cc @willemarcel - do you think writing this compare function might be something you can take up, if we feel it's a good idea?

[2017-09-18 13:23] willemarcel commented on #202
@batpad Excellent! I was thinking about to do it.

[2017-09-18 22:02] willemarcel commented on #202
@batpad @planemad it's done in https://github.com/mapbox/osm-compare/pull/181

[2017-09-22 18:18] zlavergne commented on #200
@willemarcel @kepta Thanks!

I forked and made a new branch and it's running smoothly on my local machine.

Is it up to me on how to implement it (based on the options I listed)? Or do I collaborate with you guys?

[2017-09-25 06:20] kepta commented on #202
@willemarcel can we close this ticket?

[2017-09-25 06:20] kepta commented on #200
@zlavergne feel free to send a PR, we can have a discussion after that.

[2017-09-25 12:37] manoharuss opened #204 "OSMCha shows numbers in filters instead of names"
#### I'm submitting a bug report

After we share a URL like https://osmcha.mapbox.com/filters?aoi=11f0d80c-19c2-430b-9756-df816fd782c8, the filter values turn into numbers instead of displaying the name. It would be easier to read if the names of the reasons are displayed.

#### *Brief Description*

![image](https://user-images.githubusercontent.com/8921295/30808400-919ecac2-a21b-11e7-847f-da94697

[2017-09-25 12:39] rory opened #205 "Possibly false positive for "Emoji in name tag" check"
[Changeset 52344339](https://www.openstreetmap.org/changeset/52344339) is flagged as containing "Emoji in name tag" (cf. https://osmcha.mapbox.com/changesets/52344339 ), specifically [node 52262001](https://www.openstreetmap.org/node/52262001/history), But I can't see any emoji.

There are 3 "name" tags on this object:

    <tag k="name" v="Dunmore"/>
    <tag k="name:en" v="Dunmore"/>
    <tag k=

[2017-09-25 13:30] tridip1931 commented on #204
@manoharuss In order to reproduce the issue and make it more clear, following are the steps:
- User saves custom filter in `osmcha`
- Loads the filter and see integer value instead of label of the reason

@willemarcel I would like to hear your thoughts. If you feel this is an simple UI issue, I can take a dig at it.

**/cc:** @kepta @batpad

[2017-09-25 14:04] #202 closed

[2017-09-25 14:29] willemarcel commented on #204
@tridip1931 I believe it is. As we save the `id` of the `SuspicionReason` and the API returns it, when loading a saved filter, we need to replace the id by the name of the Reason.

[2017-09-25 16:03] kepta commented on #204
I am not sure but the problem here is that it’s dificult to map the numeric id to the reason, because the backend doesn’t give me the numeric id to reason.( correct me if I am wrong about this @willemarcel)

[2017-09-25 17:22] willemarcel commented on #204
@kepta we have the Suspicion Reasons endpoint: https://osmcha.mapbox.com/api/v1/suspicion-reasons/

[2017-09-25 17:48] batpad commented on #205
This seems to be a bug. Thanks for reporting @rory

[2017-09-25 21:27] willemarcel opened #206 "Error in bbox input when loading an AOI"
## I'm submitting a _feature request_

## *Brief Description*
When loading an AOI, the `bbox` filter input shows only the first coordinate.

## What  is the current behaviour, (attach relevant screenshots) ?
![screenshot-2017-9-25 osm changeset analyzer](https://user-images.githubusercontent.com/666291/30831669-a9ac1afe-a21e-11e7-8a7b-4b54acb904ed.png)

## What  is the expected behaviour ?
Show al

[2017-09-25 21:34] willemarcel commented on #173
@kepta I think this issue was solved by https://github.com/mapbox/osmcha-frontend/pull/188

[2017-09-27 18:13] #144 closed

[2017-09-28 11:51] willemarcel commented on #127
I'm working on a button to add any user to the whitelist

[2017-10-03 16:02] joostschouppe opened #208 "Filter by admin area"
A lot of people like to watch "their area". Often this will coincide with some admin area, for example their city, region or country. It would be nice to be able to use these for filtering osmcha. Especially country outlines seem important, but maybe we could use admin_level 3 and 4 as well. There are of course non-osm devisions you could use as well.

[2017-10-03 16:06] joostschouppe opened #209 "Make the number of comments more visible, maybe use for filtering too"
If someone uses another tool to review the "review requested" changesets, that will in the best case result in a changeset comment. It is not straightforward to see that a changeset has been commented before somewhere else in osmcha. I know that you can see that on a case by case basis, but you have to open a changeset first. So I would like to be able see the number of comments in the overview of

[2017-10-03 16:09] joostschouppe opened #210 "Prompt for login when you try to verify a changeset"
This sequence could be more user friendly:
- user arrives at OSMcha for the first time, and is not logged in
- user gets the point, checks the changeset and wants to Verify
- upon trying to mark the changeset as good or bad, you get a message you need to sign in
- clicking on that message just makes it go away

In the last step, clicking on "Sign in" within the message could trigger the "Sign in"

[2017-10-03 16:26] joostschouppe commented on #209
Looks like I duplicated 190. Closing and posting there. Sorry.

[2017-10-03 16:26] #209 closed

[2017-10-03 16:29] joostschouppe commented on #190
I just duplicated and closed [basically the same feature request](https://github.com/mapbox/osmcha-frontend/issues/209).
Filtering would be great, but showing the number of comments somewhere more visible on the results page might be less challenging and already quite helpful.

[2017-10-04 17:05] zlavergne commented on #200
@kepta I haven't contributed to a project like this before. Did I start it properly by forking and making a branch on my fork? What should my next step be?

I have finally cleared up my plate so I have time to work on this now.

[2017-10-04 19:47] willemarcel commented on #200
yes, fork, make a new branch, commit your changes to your github repository and create a Pull Request (after you send the first commit to github, a button will appear on the repository on the browser suggesting you to make a Pull Request).

[2017-10-05 14:28] willemarcel opened #212 "Reload or alert user to refresh the page when the frontend version changes"
## I'm submitting a _feature request_

## *Brief Description*

When the frontend is updated the service_worker continues to server the user with a cached version of it. It would be good to alert the user to refresh the page or make the update automatically.

## What is the motivation / use case for this feature?

Today the overpass instance was changed and the frontend stopped showing the changese

[2017-10-06 11:53] Zverik opened #213 "Error loading the map in bbox and changeset views"
When clicking on a bbox field, an empty rectangle is drawn, nothing happens inside it.

When clicking on a changeset, the map is filled with pink color, and a message is displayed: "t is not a function". In the browser console, I found this:

[code]

Firefox 55.0.3, macOS 10.11.6

[2017-10-06 11:54] willemarcel commented on #213
Hi @Zverik

Reload your page with `F5`. This is caused by this issue https://github.com/mapbox/osmcha-frontend/issues/212

[2017-10-06 11:55] Zverik commented on #213
Oh, indeed. Thanks Wille!

[2017-10-06 11:55] #213 closed

[2017-10-10 06:28] rasagy commented on #200
@zlavergne How is it going? Feel free to use this issue to brainstorm further/get feedback on how you want to implement this.

We initially left the right panel empty/with placeholder info with exactly this intent, and I find that to be a good workflow: It allows you to see stats for any filter that is applied, and these stats should be easy to generate when the API is anyway returning a list of c

[2017-10-10 15:53] zlavergne commented on #200
@rasagy Some sketches would be awesome! My team (a team of mappers who benefit from this tool) is also brainstorming on the best implementation.

One thing they've noted is they would like to have some sort of visual representation of the stats too. I was thinking a line graph to show the stats over the time of the filter.

[2017-10-11 16:44] dalekunce opened #214 "bbox or geom support in query"
## I'm submitting a feature request to support bounding box and later geojson geom as a query type.

## *Brief Description*
I would like to send the api a bbox to then get back the osmcha stream for a particular country.

## What is the motivation / use case for this feature?
I want to embed OSMCHA into part of the Missing Maps website to help local communities manage edits. OSMCHA will be embedde

[2017-10-12 07:13] rasagy opened #215 "Show all changesets for a User (not just recent) when inspecting from User panel"
## I'm submitting a _feature request_

## *Brief Description*

The link in the User Panel that allows you to view all changesets in OSMCha takes the default `start-date` (probably because no date is mentioned), which leads to filtering for only recent changesets by default. In many cases, you would end up with no changesets shown due to this.

Current link: `https://osmcha.mapbox.com/?filters=%7B%

[2017-10-20 17:10] batpad opened #216 "Better documentation / instructions on setting up RSS feeds"
The RSS feature is awesome! It's just quite confusing right now as to how one gets to it, and I don't really see clear documentation in our docs of how to setup RSS feeds.

Could we as a first step just add clear instructions on setting up RSS feeds, possibly as a separate heading in our documentation?

cc @willemarcel @manoharuss @ajashton

[2017-10-21 06:32] SafwatHalaby opened #217 "Preload changesets"
## I'm submitting a \eature request/ support or question)_\\

## *Brief Description*

When you click a changeset on the side bar, it sometimes takes a few seconds to load. A "pre-load" mechanism could be implemented to improve this; If the user seems to be sequentially going over the changesets in the sidebar, load the next few changesets are preloaded in advance to save that time.

## What is the

[2017-10-22 16:47] roadgeek opened #218 "Safari Rendering with overlapping in left panel"
<img width="1280" alt="osmcha-leftpanelsafari9 1 3 -render" src="https://user-images.githubusercontent.com/10214616/31864120-503d0876-b726-11e7-948e-19cf45106057.png">

## I'm submitting a _bug report.
Safari rendering has overlap with changesets and title.

## What  is the current behaviour, (attach relevant screenshots) ?
Attached

## What  is the expected behaviour ?
no overlap

## When does th

[2017-10-23 07:23] manoharuss commented on #216
will add a section for using RSS feature in the OSMCha about guide and update here with the pr link @batpad

[2017-10-23 07:45] SafwatHalaby opened #219 "OSMCHA does not handle usernames changing"
## I'm submitting a bug report

## *Brief Description*

I changed my username from SwiftFast to [SafwatHalaby](http://whosthat.osmz.ru). When I login to Osmcha, it is still using my old username in reviews, and in my profile page. However, when I make OSM edits, the *new* username is attributed to the new changesets.  It's unclear weather Osmcha is treating SafwatHalaby as a completely distinct, u

[2017-10-23 19:43] SafwatHalaby commented on #219
Here are things I tried that did not resolve this:
- Logging out and then logging in
- Clearing browser cookies / history / cache and then logging in
- Logging out, revoking oAuth via the settings at https://www.openstreetmap.org, and then logging in

[2017-10-24 14:35] willemarcel commented on #219
I confirmed this bug and I'm solving it in osmcha-django repository. Thanks, @SafwatHalaby !

[2017-10-24 14:35] #219 closed

[2017-10-29 16:37] SafwatHalaby commented on #216
I wasn't aware of an RSS feature. Where can I find it?

[2017-10-29 17:15] manoharuss commented on #216
@SafwatHalaby 👋  It is currently a bit hidden. Once the user sets a filter, it is by default `unnamed`. But once we save it with a name, we can see it in our user page.

I made a quick gif to explain how to find it. I will make sure get this added under [OSMCha about guide](https://osmcha.mapbox.com/about) this week.

![osmcharsss](https://user-images.githubusercontent.com/8921295/32146241-33aed62

[2017-11-04 05:25] manoharuss commented on #127
_bump_ this can be a really useful filter to have. Both for Mapbox data team and [community](https://github.com/mapbox/osmcha-frontend/issues/160). This was brought up during conversation with community members more than a few times at SoTM Japan. @willemarcel @kepta @batpad lets prioritize this the sooner we can?

[2017-11-04 09:47] willemarcel commented on #127
@manoharuss I've worked on it, but it yet needs some improvement https://github.com/mapbox/osmcha-frontend/pull/207

[2017-11-06 11:33] govvin opened #221 "How to send a feedback about an existing changeset review?"
## I'm submitting a _question_
![image](https://user-images.githubusercontent.com/5821688/32439131-4d85301e-c328-11e7-8755-6130302ee8e3.png)
How to send a feedback about an existing changeset review?

## *Brief Description*
I'm reviewing this [changeset](https://openstreetmap.org/changeset/50614861), and noticed that it's been reviewed by another user. However, after reviewing the data further, it

[2017-11-06 21:11] willemarcel commented on #221
Hi @govvin

Right now, the only option is to send a message to the OSM user that reviewed the changeset.

[2017-11-14 07:23] eneerhut commented on #133
Also useful for the Mapillary team. Linking image capture challenges with edit challenges will be a lot easier when we can search changeset comments easily within a given area.

[2017-11-14 13:00] willemarcel opened #223 "Bbox field shows only the first coordinate"
## I'm submitting a _bug report_

## *Brief Description*

When a filter is loaded, the Bbox field show only the first coordinate. Example: https://osmcha.mapbox.com/filters?aoi=42f56500-585b-4685-baeb-b27f7bf632f5

## What  is the current behaviour, (attach relevant screenshots) ?

It filters the changesets correctly by the bbox, but it only shows the first coordinate. Check https://osmcha.mapbox.

[2017-11-17 21:24] dalekunce commented on #214
got this working with the new bbox option.

[2017-11-17 21:24] #214 closed

[2017-11-18 02:50] dalekunce opened #224 "Link to MM user profile"
## I'm submitting a feature request to add a link the the missing maps user page from the user profile card.

## *Brief Description*
Missing maps has a similar endpoint to most OSM resources. http://www.missingmaps.org/users/#/[username]

## What is the motivation / use case for this feature?
Better linking of OSM resources.

[2017-11-20 13:08] DaveF63 opened #226 "Filter by past X days rather than hard-coded date"
## I'm submitting a _(feature request)_

## *Brief Description*
Set date option for filter/RSS feed to return changesets of previous X number of days.

## What is the motivation / use case for this feature?
Speed up retrieval time by restricting the list length.
Increase ease of usability - Don't have to keep amending the date

[2017-11-20 21:47] willemarcel commented on #226
I have already been thinking about this feature, and it would be really useful. I will try to work on this soon. Thanks @DaveF63 !

[2017-11-20 22:04] willemarcel commented on #224
Solved with https://github.com/mapbox/osmcha-frontend/pull/225

[2017-11-20 22:04] #224 closed

[2017-11-25 16:39] naoliv opened #228 "Should better differ a restored place from a newly added one"
## I'm submitting a feature request

## *Brief Description*
Take a look at https://osmcha.mapbox.com/changesets/54032972 where it says `Added a new place(city/town/country)`

But in fact I just undeleted some places.
For example, https://www.openstreetmap.org/node/415524132/history

![](https://i.imgur.com/V71LRTT.png)

It should differ places that were restored from places that were newly added.

[2017-11-26 09:37] DaveF63 commented on #223
I'm getting the same Firefox 54 Win7
![image](https://user-images.githubusercontent.com/9528328/33238833-6b143836-d28d-11e7-8afe-98abf162b69e.png)

[2017-11-26 16:55] mmd-osm commented on #187
Just wondering if this task is completed now, with `overpass.maptime.in` being the new server, as per https://github.com/mapbox/osmcha-frontend/pull/211? Not sure if you've already noticed that there's still quite a large gap in response times compared to main instance.

[2017-11-28 10:58] batpad commented on #187
I believe this is due to still running an older version of Overpass. Will look into what the upgrade path looks like and possibly reach out for help. Thanks for the flag @mmd-osm .

[2017-11-29 18:04] mmd-osm opened #230 "Multiple object versions in one changeset"
## I'm submitting a bug

## *Brief Description*

A StreetComplete user added 5 changes to the following changeset, and then noticed that all of those changes were invalid. By hitting "undo" 5 times, StreetComplete added the same 5 objects again to the same changeset, this time undoing the original change.

The net effect of all those operations is, that there's no change at all, except for the inc

[2017-11-29 18:17] willemarcel commented on #230
Hi @mmd-osm

Have you reported this issue to StreetComplete? Maybe it would be useful to report to the OpenStreetMap-website project as well, IMHO, the API shouldn't accept two entries modifying the same element in the same changeset.

[2017-11-29 18:50] mmd-osm commented on #230
I would say this scenario is not limited to StreetComplete, although you could argue that StreetComplete would be better off keeping a local version of the changeset, and only upload changes to the OSM server when the user is done.

By the way, you can achieve the same result in JOSM by keeping your changeset open, and going through a number of iterations with changes to an object, followed by an

[2017-11-29 20:50] westnordost commented on #230
@willemarcel Yup, I know about this. But this is intended behavior. The app by default uploads every change the user makes as soon as possible, so if the user has network, immediately. It opens a changeset and then during the survey, the app will add one change after another to that changeset. If the user realizes that he entered wrong information, the revert is put into the same changeset, just l

[2017-12-02 20:11] RicoElectrico opened #231 "The "park added by new user" filter doesn't work"
## I'm submitting a _(bug report)_

## *Brief Description*
The "park added by new user" filter doesn't work

## What  is the current behaviour, (attach relevant screenshots) ?
No changesets are shown

## What  is the expected behaviour ?
Parks added by new users are shown

## How do we replicate the issue ?

1. Turn on showing only flagged changesets
2. Add a filter "Park added by new user"
3. App

[2017-12-03 09:57] mmd-osm opened #233 "[Perf] Tiles are downloaded multiple times"
## I'm submitting an enhancement request

## *Brief Description*
Same aerial and vector pbf files are getting downloaded multiple times when opening up a new changeset. This affects response times on a not so fast network link and results in unnecessary download of data.

## What is the motivation / use case for this feature?
This is slowing down loading of the page, as nearly 3-4MB of data needs

[2017-12-03 10:43] mmd-osm commented on #187
FYI: I used endpoint https://lz4.overpass-api.de/api/interpreter for my tests, using the following prototyping instance: https://dev.overpass-api.de/tmp/psv/osmcha (patched version with disabled S3 caching).

[2017-12-04 11:54] willemarcel commented on #233
Hi @mmd-osm

Could you check the URL of the files that you think are duplicated? I checked it here and each file is different. Another evidence that every file is unique: observe the miniatures of the tiles and the size column.

[2017-12-04 12:27] mmd-osm commented on #233
Good catch. I ran another HTTP trace now (see this attachment: [trace.txt](https://github.com/mapbox/osmcha-frontend/files/1526981/trace.txt)), to get the exact URLs called by OSMCha. And indeed, the screenshot above was tricking me a bit to believe that those are the same URLs. They're not. Nevertheless, we still got the 15s+ total loading time on Firefox.

While the GeoJSON diff was displayed fa

[2017-12-04 14:42] manoharuss commented on #216
OSMCha guides have been refreshed in https://github.com/mapbox/osmcha-frontend/pull/232. Closing.

[2017-12-04 14:42] #216 closed

[2017-12-05 13:21] planemad opened #234 "Show aggregate review stats for filter results"
## I'm submitting a _feature request_

## *Brief Description*
While trying to review [Pokemon mapping](https://osmcha.mapbox.com/changesets/54339099?filters=%7B%22date__gte%22%3A%5B%7B%22label%22%3A%222017-11-30%22%2C%22value%22%3A%222017-11-30%22%7D%5D%2C%22date__lte%22%3A%5B%7B%22label%22%3A%222017-12-05%22%2C%22value%22%3A%222017-12-05%22%7D%5D%2C%22reasons%22%3A%5B%7B%22label%22%3A%22New%20map

[2017-12-06 19:13] aawiseman opened #235 "Suggested flags and modifications"
## I'm submitting a feature request

## *Brief Description*

A few suggestions for new flags and modifications that can help find more issues:

New flags:

- New name or ref tags are added to highway links, or new links are created with names or ref tags
- Typos in common keys, like highway=, building=, name=, etc.
- Changes in refs on ways or relations, such as ref= or int_ref=
- More specific fl

[2017-12-07 10:29] batpad commented on #233
I think this is a problem with the `style` we are using on changeset-map. @planemad do you think you could do a sanity check on the style to make sure we're not doing anything really weird there?

(thanks so much for flagging this @mmd-osm ! )

[2017-12-08 15:48] manoharuss commented on #216
Updated on OSMCha https://osmcha.mapbox.com/about#saving-and-sharing-custom-filters

[2017-12-10 23:06] DaveF63 opened #236 "OSMCha down"
## I'm submitting a _(bug report)_

## *Brief Description*
OSMCha appears to be down. Could someone turn it off & back on again please?

[2017-12-11 06:46] tridip1931 commented on #234
This design could be meaningful. I believe OSM users come to OSMCha with some objective and would want to filter the information aligned with that specific objective in mind. I'd like to do more research on this.

[2017-12-11 06:49] rasagy commented on #234
Flagging that there was a relevant conversation on this thread that we could revive as well: https://github.com/mapbox/osmcha-frontend/issues/200

Basically, use the right panel to show stats based on the filtered query instead of the placeholder splash screen. I completely forgot about my discussion with @zlavergne at SOTM about this, let me update that ticket with what we discussed.

[2017-12-11 07:04] tridip1931 commented on #200
👋  @rasagy It seems this completely went off my radar. The context is super helpful. I'd like to some research and will soon cut a new ticket to capture future conversations.

[2017-12-11 07:05] rasagy commented on #200
Sounds great. I have some early ideas that me and @zlavergne discussed: Will clean them up and post here, and happy to work together on this! 👍

[2017-12-11 07:44] amishas157 commented on #236
@DaveF63 , Thanks for reporting the issue. This has been resolved. Feel free to report back if you see it again.

[2017-12-11 20:43] DaveF63 commented on #236
For me:
https://osmcha.mapbox.com/changesets displays after a delay of ~5 seconds (slower than previous)

http://osmlab.github.io/changeset-map still gives me a grey screen

[2017-12-11 21:59] zlavergne commented on #200
@rasagy I've been swamped since we talked at SOTM. It's looking like my schedule will open up around the end of the year. I'd love to have the sketches we worked up for when I get going again!

[2017-12-12 15:50] nrenner commented on #230
Here some selected examples from different editors with wrong version comparisons:

* [53304321](https://www.openstreetmap.org/changeset/53304321) (StreetComplete 2.3)
  [w182973042](http://osmlab.github.io/changeset-map/#53304321/way/182973042) - 6/9 Ok
  [w275506912](http://osmlab.github.io/changeset-map/#53304321/way/275506912) - 3/4 instead of 3/6
* [53903489](https://www.openstreetmap.org/cha

[2017-12-12 18:06] jharpster opened #237 "Profanity Filter"
Expand the profanity filters and make them multi-lingual.

## *Brief Description*
The existing word list is inadequate to address more than the simplest profanities.

## What is the motivation / use case for this feature?
Create more robust vandalism detection

## What  is the expected behaviour ?
Consider incorporating a broader list of [profanities from this list.](https://github.com/LDNOOBW/Lis

[2017-12-13 10:08] batpad commented on #236
We had intermittent issues in our processing pipeline over the weekend. Thank you for reporting @DaveF63 - these *should* be fixed now, please feel free to comment / re-open if you are still seeing issues.

[2017-12-13 10:08] #236 closed

[2017-12-13 10:14] batpad commented on #230
Yes, this is a bug in the way we process augmented diffs. Thank you for flagging.

I need to think a bit about where the fix for this should go - in general, an object being edited multiple times in the same changeset is a tricky one to solve for -- when one adds the possibility that someone else could also have edited the object in the intervening period, the edge cases get pretty plentiful.

Jus

[2017-12-18 13:22] naoliv opened #239 "Allow to filter by the number of node/way/relation created|modified|deleted"
## I'm submitting a _feature request_

## *Brief Description*
Could we have a way to also filter by the number of node/way/relation that were created|modified|deleted?

For example, filter where the number of deleted ways is > 10

Right now we can only filter by the total number of objects, without being able to specify if we want nodes, ways or relations.

## What is the motivation / use case for

[2017-12-21 18:33] paulmach opened #240 "CONTRIBUTING.md's link to CODE_OF_CONDUCT.md not found"
FYI, there is a link to a code of conduct that doesn't exist.

[2017-12-21 19:32] willemarcel commented on #240
@paulmach thank you very much for noticing it!! I added it on https://github.com/mapbox/osmcha-frontend/commit/2bda0043199458c23ddd0f97f2047a1c9949244a

Soon it will be on the master branch.

[2017-12-21 19:32] #240 closed

[2017-12-29 12:48] willemarcel commented on #167
Deployed today!

[2017-12-29 12:48] #167 closed

[2018-01-02 12:27] Hjart opened #242 ""Failed to Load Page 0" message"
Recently (a week or 2 back) I started getting this error message whenever trying to apply a new filter or update an existing:
![failedloading](https://user-images.githubusercontent.com/9010705/34483606-ee07fa1c-efbf-11e7-84c5-213664064d44.png).
I tried resetting filters without any luck  and my network connection appears to work for everything else.
I'm using Firefox on an OpenSUSE Linux installat

[2018-01-03 10:11] Hjart commented on #133
Similar issue here: #208

[2018-01-03 10:12] Hjart commented on #208
This is similar to: #133

[2018-01-03 10:39] batpad commented on #208
The API already allows filtering by arbitrary GeoJSON (multi)polygons. Perhaps the solution here is two steps:

 - Expose just a text-box or so in the frontend for users to paste arbitrary GeoJSON (multi)polygons
 - As a second step, create a nice map  widget for users to optionally draw polygons to filter by

Hopefully this can be accomplished, @willemarcel ?

We still have the larger issue that

[2018-01-03 10:46] Hjart commented on #208
I would prefer an option to select an (administrative) area already defined in OSM to avoid going through the hassle of entering or drawing my own polygons

[2018-01-03 11:03] batpad commented on #208
Ah, interesting :-)

This does seem like it would probably be the nicest solution - is there a good way to directly use OSM for this sort of thing (drill-down admin areas and get back polygon data for them), or would we have to rely on another service, or have a script to build up this list ourselves in the database and a way to periodically update it? Will leave it to you @willemarcel to figure o

[2018-01-03 11:16] Hjart commented on #208
How about zooming in on an area on the map (filter setup) like we already do, then (when zoomed in sufficiently) have buttons that will find admin boundaries in that area via Overpass), which we can then choose between?
I would find this extremely handy

[2018-01-08 14:07] naoliv opened #245 "Flag for non-standard/common editor"
## I'm submitting a _feature request_

## *Brief Description*
There should be a flag for non-standard/common editors.

## What is the motivation / use case for this feature?
For example, https://osmcha.mapbox.com/changesets/55263987 was created by `upload.py v. 1` (which isn't something that the common user would use to edit the data)
Having a flag for this would help us to identify possible impor

[2018-01-08 14:10] naoliv opened #246 "Negative filter for editor"
## I'm submitting a _feature request_

## *Brief Description*
There should be a way to filter the editor in using a negative (or "inverse") expression.

## What is the motivation / use case for this feature?
For example, if we want to filter all the editions made with JOSM we can simply use `josm`
But we can't filter all the editions that were not made with JOSM (eg, something like a `-josm`)

[2018-01-10 13:04] robybully commented on #246
I'm also waiting for this feature. I want to ignore some users or editors in my filtered area of interest.

[2018-01-11 04:59] govvin opened #248 "feature request - reviewer's comment"
## I'm submitting a _feature request_

## *Brief Description*
It would be really nice if it would be possible for the reviewer to add text, to elaborate on their review, within OsmCha.

## What is the motivation / use case for this feature?
Improve/make more useful the comment left on the changeset.
![image](https://user-images.githubusercontent.com/5821688/34753541-9aa5cf0e-f5f3-11e7-8243-10b920d

[2018-01-11 17:59] naoliv commented on #84
Is it the same problem from https://osmcha.mapbox.com/changesets/55358267/ ?
See that the original source is `Bing; IBGE - Mapa das áreas rurais; Imagens Standard da DigitalGlobe; http://scdl.itamaraty.gov.br/pt-br/fronteiras_da_scdl.xml` while osmcha displays it as `Bing; IBGE - Mapa das áreas rurais; Imagens Standard da DigitalGlobe; _da_scdl.xml http://scdl.itamaraty.gov.br` (ie, it's even chan

[2018-01-12 10:22] tridip1931 commented on #84
thanks @naoliv for pointing this out, it was a `regex` issue

[2018-01-12 14:42] bhousel opened #250 "Can't switch back to satellite style"
## I'm submitting a _bug report_

## *Brief Description*
If you switch to a different style, you can't switch back to satellite style.  Returning to the Map Style tab shows that it still thinks the style is Satellite (even if it isn't)

## What  is the current behaviour, (attach relevant screenshots) ?
![osmcha-satellite](https://user-images.githubusercontent.com/38784/34879897-c3a64bc4-f77c-11e7-

[2018-01-12 16:00] willemarcel commented on #248
Thanks, @govvin! I believe I can dedicate some time soon to make this possible.

[2018-01-12 16:10] govvin commented on #248
Awesome!

There's feedback in the [mailing list](https://lists.openstreetmap.org/pipermail/talk/2018-January/080006.html) about this feature. You might want to check it out. -- Some aren't too happy about it.

[2018-01-16 15:31] mvexel commented on #190
I would like to just filter on whether a changeset has comments or not. Would that be covered under this request?

[2018-01-16 15:41] rasagy commented on #248
Expanding @govvin’s ticket to summarize the feedback seen on the mailing list + internal discussions:

1. Allow user to decide if they want to use this feature when they see the announcement _(Default opt-in since comments **will not** be posted automatically)_
2. Allow user to modify the template messages(s) _(This will enable the reviewer to use local language/change style of the default message

[2018-01-16 16:46] willemarcel opened #251 "Add support for other languages in the frontend"
## I'm submitting a _feature request_

## *Brief Description*

Make the frontend localized and translated in many languages.

## What is the motivation / use case for this feature?

Makes it easy to use for all OSM community.

[2018-01-16 17:13] #173 closed

[2018-01-16 22:44] mvexel opened #252 "Paste OSM URL to define bounding box"
## I'm submitting a _feature request_

## *Brief Description*
In JOSM for example, you can paste an OSM URL to define the bounding box (for loading data in their case). It would be super neat if OSMCha would allow this also.

[2018-01-16 22:46] mvexel commented on #252
I realize that you can already derive a bbox from the minimap next to the bbox field. That is already pretty good. This would be a cool-to-have.

[2018-01-17 12:16] westnordost commented on #248
Or, as a first step, only step 2 of @rasagy's suggestion. After clicking good or bad, prefill an input box with the template text. This is especially useful if the user clicked on "bad", because then he will want to explain what is the problem there. Just saying "this is bad, contact me" might come across as rude.

(I also find the template a bit verbose for an automatically created message, but I

[2018-01-17 12:26] govvin commented on #248
Would it be possible to change the terms used? "Good", obviously, wouldn't have any negative connotation, but with a "bad" changeset review, many users may become defensive or agitated. (I've encountered some.)

Perhaps, "needs improvement", "unsatisfactory", or "non-standard"?

[2018-01-17 13:02] willemarcel commented on #248
@westnordost in the first image that @rasagy posted, we have the option to the user activate the feature you're suggesting.

@govvin good point! I'm not sure about the best word, what do you think about "faulty" or "defective? "needs improvement" can be imprecise to vandalism changesets... "unsatisfactory" is good, but I'd prefer a simpler and more direct word

Thanks, guys!

[2018-01-17 13:10] westnordost commented on #248
I wouldn't throw vandalism changesets into one pot (=one UI button) with well-meant changesets that are somehow faulty.

Should this OsmCha feature also cover vandalism changesets? I would think that vandalism is simply reverted and not discussed.

[2018-01-17 13:14] willemarcel commented on #248
@westnordost I understand that @govvin was talking about the word we use not only in the changeset comments, but also in the `Verify` button. Although we don't need to comment vandalism changesets, it's useful to have them reviewed in OSMCha.

[2018-01-17 13:54] govvin commented on #248
"faulty" may still be a loaded word. How about sub-optimal? I'm sure there's a simpler, more constructive term to use out there.

[2018-01-20 10:34] tridip1931 commented on #70
It was fixed in 👉  release [https://github.com/JedWatson/react-select/releases/tag/v1.0.0-rc.9](https://github.com/JedWatson/react-select/releases/tag/v1.0.0-rc.9)

[2018-01-20 10:34] #70 closed

[2018-01-20 10:36] #84 closed

[2018-01-20 10:37] #95 closed

[2018-01-20 10:38] #103 closed

[2018-01-20 10:41] #128 closed

[2018-01-20 10:42] #130 closed

[2018-01-20 11:06] tridip1931 commented on #234
Duplicate of #200 Closing this.

[2018-01-20 11:06] #234 closed

[2018-01-20 11:12] #184 closed

[2018-01-20 11:22] tridip1931 commented on #152
Stale, closing this. There are lots of good feedback above. Putting to backlog for now.

[2018-01-20 11:22] #152 closed

[2018-01-20 11:24] tridip1931 commented on #149
duplicate of #152 . Closing this.

[2018-01-20 11:24] #149 closed

[2018-01-20 11:24] tridip1931 commented on #145
Stale. I am closing this.

[2018-01-20 11:24] #145 closed

[2018-01-20 11:26] tridip1931 commented on #133
Duplicate. I am closing this. We are implementing this feature request.

[2018-01-20 11:26] #133 closed

[2018-01-29 13:28] Spanholz opened #254 "Flag "Pokemon nest feature added by new user" does not return any changesets"
I am currently searching for contributions fro Pokemon Go players as they tend to add non-existing things to have a benefit in PokemonGo.

If I want to filter users after "Pokemon nest feature added by new user" I do not get any results. Same problem if just flag for "Waterbody added by new user". Problem persits with different browsers (IE, Firefox 58, Chrome).

[2018-01-29 20:28] tridip1931 commented on #254
@Spanholz I am guessing, the reason you are not getting results is because the `Date` filter is more recent. Can you change it to more older period?

[2018-01-30 16:35] willemarcel commented on #254
@Spanholz some alerts were used in the past but are not currently active. This is one of the cases. It's on my to do list to add the information that a suspicion reason is inactive on the interface.

[2018-02-02 12:19] Marc-marc-marc opened #256 "wrong "Added invalid highway tag""
## I'm submitting a bug report

## *Brief Description*
the following changeset https://osmcha.mapbox.com/changesets/54853697
get flaged with "Added invalid highway tag"
for this way https://www.openstreetmap.org/node/1342116259
but the history show no "added highway tag"
the highway tag already exist and the changeset doesn't change it

## What  is the current behaviour, (attach relevant screensho

[2018-02-02 21:13] aawiseman commented on #235
Hi @willemarcel just wanted to see if you took a look at these. Thanks

[2018-02-03 14:26] batpad commented on #235
It would be great to get more community involvement in refining the detectors and see some of these suggestions as PRs :-)

The way to do this would be to look at https://github.com/mapbox/osm-compare - look at the existing "compare functions" in there and either propose specific changes to existing ones or write fresh compare functions following the documentation.

Admittedly, documentation of ho

[2018-02-05 21:41] tridip1931 commented on #250
This was fixed. Closing.

[2018-02-05 21:41] #250 closed

[2018-02-07 15:51] willemarcel commented on #235
Hi @aawiseman ! I was focused on some frontend issues, but this week I'll dedicate some time to it. Thanks for the suggestions! The ideas are very good!

[2018-02-07 17:21] willemarcel opened #259 "Switch to discussions tab after review"
## I'm submitting a _feature request_

## *Brief Description*

Right after the user review a changeset, switch to the `Discussions` tab if the user has `comment_feature` enabled in his preferences.

## What is the motivation / use case for this feature?
Make it easy and incentive users to comment changesets.

## Other Information / context:
We need to add the `comment_feature` option to the user p

[2018-02-07 18:08] willemarcel opened #260 "About page TOC rendering"
## I'm submitting a _bug report_

## *Brief Description*
The TOC of the about page has only two hierarchy levels, but we need three levels. Compare with the rendering in the github: https://github.com/mapbox/osmcha-frontend/blob/master/ABOUT.md

## What is the motivation / use case for this feature?
Makes the hierarchy correct in the documentation.

[2018-02-07 19:46] tridip1931 commented on #259
![comment-toggle 1](https://user-images.githubusercontent.com/7458983/35937895-9b7fa2b4-0c15-11e8-9f1b-e6762d048687.gif)

We can use ☝️ pattern for that. I will implement this & switch to `Discussions` tab.

[2018-02-07 21:10] #233 closed

[2018-02-09 14:31] willemarcel commented on #260
Solved with https://github.com/mapbox/osmcha-frontend/pull/262/commits/886b56dda6f2a0791da5056909f93060ce0d2231

[2018-02-09 14:31] #260 closed

[2018-02-09 15:43] willemarcel commented on #248
We deployed a new version this week that solves this issue. Although we want to make an improvement (https://github.com/mapbox/osmcha-frontend/issues/259) yet.

[2018-02-09 15:43] #248 closed

[2018-02-09 15:45] willemarcel commented on #208
Solved and deployed. Check: https://osmcha.mapbox.com/filters

Today I'll publish a diary post about this.

[2018-02-09 15:45] #208 closed

[2018-02-09 15:46] willemarcel commented on #206
Closing because we have a duplication https://github.com/mapbox/osmcha-frontend/issues/223

[2018-02-09 15:46] #206 closed

[2018-02-09 15:48] willemarcel commented on #242
Hi @Hjart

Could you give us a feedback if this error is yet happening?

[2018-02-09 16:20] tridip1931 commented on #252
This was done. Closing.

[2018-02-09 16:23] willemarcel commented on #252
@tridip1931 this is not implemented. @mvexel is suggesting to define the bbox by pasting an OSM url, like https://www.openstreetmap.org/#map=16/-8.2320/-35.7536

[2018-02-09 16:24] tridip1931 commented on #252
oops @willemarcel, you referred a PR to this issue, and it was merged, so I thought we implemented it. Cool.

[2018-02-09 17:09] Hjart commented on #242
It's no longer happening and since at least a week or 2, I've been able to succesfully use the filters, thank you. I

[2018-02-09 17:09] #242 closed

[2018-02-10 01:00] planemad opened #264 "Indicate active filters"
## I'm submitting a _(feature request)_

## *Brief Description*

If any filter is active, visually indicate it on the `Filters` button.

<img width="294" alt="screen shot 2018-02-09 at 7 49 58 pm" src="https://user-images.githubusercontent.com/126868/36056479-c47d9b9e-0dd2-11e8-9d0b-8caaedf5cab8.png"><br>_Has a filter been applied or not?_

## What is the motivation / use case for this feature?

A

[2018-02-10 14:16] westnordost opened #265 "Edits seem to be grouped into changesets incorrectly"
## I'm submitting a _bug report_

## *Brief Description*
Edits done on the same object are grouped into one changeset in the display, even if these changes have been done in different changesets.

## What  is the current behaviour?

Let's look at [changeset 56188366](https://osmcha.mapbox.com/changesets/56188366):
According to Osm Changeset Analyzer, the user added four tags on the **Heidbusch** r

[2018-02-16 19:47] willemarcel opened #266 "Clear date__gte is not working"
## I'm submitting a _bug report_

## *Brief Description*

When we clear the start date (`date__gte`), it is making a request to the api with `date__gte=null` and the frontend url has `"date__gte":[{"label":"","value":null}]`

It causes the API to return an empty result. Example: https://osmcha.mapbox.com/api/v1/changesets/?page=1&page_size=75&users=MysticNoob01&date__gte=null

## What  is the expe

[2018-02-18 11:18] Marc-marc-marc opened #267 "filter which is not made by username X;Y;Z"
## I'm submitting a feature request

## *Brief Description*
allow to filter with a list of username that we don't want (= AND NOT username1 AND NOT username2)

## What is the motivation / use case for this feature?
looking around, the exchange list is drowned by my own modifications.
it would be useful to have a 2nd textbox next to the 1st to list those "NOT" usernames

[2018-02-19 23:20] govvin commented on #226
Was just considering writing a feature request for the same. I'm wondering if any progress has been made since the original post?

[2018-02-20 18:44] willemarcel commented on #226
Hi, @govvin

I have researched some solutions to this, but didn't touched the code yet. It's a bit complicated because we would need to change both frontend and backend and would request to update the saved filters, so I'll analyse the best solution to this.

[2018-02-21 05:26] planemad opened #268 "Add OSM background style option"
## I'm submitting a _feature request_

## *Brief Description*
Currently the basemap for the changeset visualization are only Mapbox maps. Since these maps have only a subset of OSM features visible, often I open the changeset page to view current state of the rendered map on the OSM mapnik style.

If we have an OSM layer as a basemap style option, one can analyze the changeset within osmcha

## Wh

[2018-02-21 20:04] willemarcel opened #269 "Template messages in more than one language"
## I'm submitting a _feature request_

## *Brief Description*
In my use of OSMCha I'm missing the possibility of having comment templates in more than one language.
Implementation ideas: save the messages in a `JsonField` on the backend with all languages in just one field. for example: `{"default": "default comment", "es": "comentário en español", "pt": "comentário em português"}`. The frontend s

[2018-02-24 07:03] mellangr opened #270 "Please add Cyrillic support"
## I'm submitting a _feature request_

## *Brief Description*

OSMCha now uses the Open Sans font without Cyrillic characters. Typically, users from Ukraine, Belarus, and Russia write a comment to a changeset in their native language. The following comments have a bad look in the OSMCha interface:

![default](https://user-images.githubusercontent.com/20912330/36626742-b1e93c94-1940-11e8-8670-1fd91

[2018-02-25 00:38] willemarcel commented on #270
Thank you very much for your report, @mellangr !

@rasagy, could you take a look on this? I suppose it can be an issue of https://github.com/mapbox/assembly

[2018-02-25 13:37] mellangr commented on #270
Thank you, @willemarcel

[2018-02-26 13:03] willemarcel commented on #270
@mellangr sorry for my lack of knowledge about Cyrillic.... would you mind giving me more details about what is wrong? I compared the comment text in osmcha with the OSM website and api and it looks the same. I also verified the text in opensans with the Google Fonts website and didn't notice any difference. It would be useful to have an image of the correct way that text should be rendered.
Thank

[2018-02-27 09:50] mellangr commented on #270
@willemarcel sorry, my English is very bad, but I will try to explain. Now in one line the text is written in two fonts:

![fonts1](https://user-images.githubusercontent.com/20912330/36721590-039f6f2a-1bb4-11e8-887f-59153e0aa4da.jpg)

But the Open Sans font supports Cyrillic, and ideally it should be:

![fonts2](https://user-images.githubusercontent.com/20912330/36721604-0cb7799a-1bb4-11e8-9f58-dd

[2018-02-27 21:24] willemarcel commented on #270
Thank you very much @mellangr! I confirmed the issue and pushed a fix to assembly

[2018-03-02 00:01] willemarcel opened #272 "Show a better message when the token is invalid"
## I'm submitting a _bug report_

## *Brief Description*
When the token is not valid show a message asking the user to login again instead of showing an error message.

## What is the motivation / use case for this feature?
The error message doesn't properly inform the user what is happening.

## What  is the current behaviour, (attach relevant screenshots) ?
![screen shot 2018-03-01 at 4 43 12 pm

[2018-03-07 14:56] willemarcel commented on #270
@mellangr this issue has been solved and deployed!

[2018-03-07 14:56] #270 closed

[2018-03-08 06:03] mellangr commented on #270
Thank you very much @willemarcel !

[2018-03-08 17:53] willemarcel opened #274 "Improve geometry simplification"
## I'm submitting a _bug report_

## *Brief Description*
when we apply a location filter that generates an url larger than 4094 chars, it fails. Possible solution: improve the geometry simplification to reduce the number of decimal digits in the coordinates.

For example:

**Frontend link:** https://osmcha.mapbox.com/?filters=%7B%22geometry%22%3A%5B%7B%22label%22%3A%7B%22type%22%3A%22MultiPolygon%

[2018-03-09 06:09] tridip1931 commented on #274
🙈 , great find @willemarcel
Can you share any ideas how you are going to solve this?

[2018-03-09 20:29] mmd-osm commented on #274
Polylines could be an option for lists of lat/lon pairs: https://github.com/mapbox/polyline

[2018-03-14 14:03] mikelmaron opened #276 "Integrate osm-community-index?"
https://github.com/osmlab/osm-community-index is a new project to create a spatial index of OSM community resources -- like Slack orgs, mailing lists, and meetups. It could be an interesting addition to the changeset info panel in OSMCha, so that for instance someone reviewing a changeset could easily find the local community if they have questions. That panel is already quite crowded with functio

[2018-03-14 16:04] tridip1931 commented on #276
This is awesome. Quick thoughts after reading this is I believe it will be a great add to how users can collaborate with the community.

One of the cons I can imagine on top my head is the information available all the time can be little bit distracting but it is also important to convey such information exist.

[2018-03-14 16:22] batpad commented on #276
Is the idea to publish the osm-community-index as a map somewhere?

If yes, my proposal would be to add a link in the "Dicussions" tab of the changeset view or so that just says "Find Local Community" or so and links to that part of the world on the osm-community-index map?

[2018-03-14 17:26] tridip1931 commented on #276
👋 @batpad thanks for the feedback

Yes, discussions tab definitely makes the best area of context where it should be placed. Since this is a completely new idea, I would like to explore more alternatives.

[2018-03-16 01:14] willemarcel commented on #276
@batpad It's a great idea to have a link to some osm-community-index service, it save us from one additional API request and requires a little space on the interface.

[2018-03-16 13:37] mikelmaron commented on #276
thoughts @bhousel ?

[2018-03-19 02:38] willemarcel commented on #274
The solution I found was not simplify the geometry, but analyse the parameters characters length and ask the user to save the filter instead of applying it.
It requested some additional changes in the code, but now it's working great.

[2018-03-19 12:20] willemarcel commented on #266
Solved with https://github.com/mapbox/osmcha-frontend/pull/277/commits/669ed2ad3c07bb79a2ea9c74ec46ccfc11212158

[2018-03-19 12:20] #266 closed

[2018-03-19 12:21] willemarcel commented on #274
Solved with https://github.com/mapbox/osmcha-frontend/pull/277/commits/e7e5236fa5a859f4bc397d8dd53578f52a9f7717

[2018-03-19 12:21] #274 closed

[2018-03-19 14:06] willemarcel commented on #235
Hi @aawiseman

I have made some updates on this issue:

It was added previously.

Fixed with https://github.com/mapbox/osm-compare/pull/206

fixed with https://github.com/mapbox/osm-compare/pull/205

[2018-03-19 18:02] aawiseman commented on #235
@willemarcel awesome, thank you!

[2018-03-19 21:59] bhousel commented on #276
I think it would be a great idea to make these resources available to reviewers in OSMCha.

A typical usecase might be where an OSMCha user is reviewing something that looks unusual, but wants to ping a local mapper about whether or not it's really an issue.  The community index could be a way to reach out to someone for a more local perspective - "hey I saw this thing and it looks like vandalism

[2018-03-24 01:38] govvin opened #279 "change "open with button behavior""
![image](https://user-images.githubusercontent.com/5821688/37858910-b17fa236-2f46-11e8-9197-31a073935a0c.png)

## I'm submitting a _feature request_

## *Brief Description*
It would be nice to have the "Open with button" open a preferred editor in one click (similar to OSM edit button), but still retaining the option to choose an editor.

![image](https://user-images.githubusercontent.com/5821688/

[2018-03-25 21:21] willemarcel commented on #218
@roadgeek I tested on the Safari 11.0.3 and this bug is not occurring.

@tridip1931 do you have some opinion about what we could do about it?

[2018-03-25 21:24] willemarcel opened #280 "keyboard shortcut '?' is not working"
## I'm submitting a _bug report_

## *Brief Description*
The keyboard shortcut `?` is listed on the documentation, but it is not working. It should [open the shortcut list](https://osmcha.mapbox.com/about#are-there-keyboard-shortcuts-in-osmcha).

## Please tell us about your environment:
Tested on Firefox, Chrome (both running on Linux) and on Safari.

[2018-03-25 21:27] willemarcel commented on #279
Thanks for the report, @govvin!

Currently we have the `J` keyboard shortcut that loads the changeset on JOSM. I'll add a shortcut to open it on iD and for the other menu options. I'll talk with the team about having an edit button.

[2018-03-25 23:44] govvin commented on #279
Thanks @willemarcel .  I didn't know about the shortcut keys! This works just as well.

[2018-03-26 14:26] willemarcel commented on #215
Solved with https://github.com/mapbox/osmcha-frontend/commit/9ff079c3eec26db51de3e6bd86a3f7c6a6ed83f

thanks, @rasagy !

[2018-03-26 14:26] #215 closed

[2018-03-26 17:36] willemarcel commented on #280
It wasn't possible to redirect the browser to the `#are-there-keyboard-shortcuts-in-osmcha` section of the about page, so I added the shortcut and made it point to the about page.

https://github.com/mapbox/osmcha-frontend/commit/88c80b87a01a216e075883c3e0b051276fed06f4

[2018-03-27 15:27] DaveF63 opened #281 "The feed appears to have got stuck. Could someone give it a prod, please"
As the subject line.

[2018-03-28 00:58] #280 closed

[2018-03-28 02:32] willemarcel commented on #279
Added the new keyboard shortcuts in https://github.com/mapbox/osmcha-frontend/commit/7bca1aee9cc98eb9b2f6d3e816edf4d76e48f9c0. It'll be deployed soon.

[2018-03-28 02:32] #279 closed

[2018-03-28 09:51] batpad commented on #281
@amishas157 @willemarcel @tridip1931

[2018-03-28 12:15] willemarcel commented on #281
We are working to fix this issue right now. Thanks for the report, @DaveF63

[2018-03-28 12:48] willemarcel commented on #235
I've added a compare function that flags deleted address tags or objects, in order to avoid losing data. It's not deployed yet, but will be soon.
https://github.com/mapbox/osm-compare/pull/207

[2018-04-02 11:48] willemarcel commented on #281
Fixed! Sorry for the inconvenience!

[2018-04-02 11:48] #281 closed

[2018-04-03 00:44] govvin opened #285 "Searching for partial text or URLs in comments fails"
## I'm submitting a _bug report_

## *Brief Description*
I'm trying to find changesets made using MapContrib, using a particular theme:
![image](https://user-images.githubusercontent.com/5821688/38222893-470b514e-371a-11e8-88e1-5acc8a28f9b4.png)

In this case, I expect to be able to search for a portion of the URL "b73404", "b73404-Baby_friendly_Spaces" or the full URL itself: "https://www.cartes.

[2018-04-03 01:34] willemarcel commented on #272
I have made some improvement on this matter. All 401 and 403 errors now we show the message `'Authentication error. Sign in again and repeat the operation.'`

It would be good to change the modal to make it possible to easily set the modal title and that way turn the messages more verbose.

[2018-04-03 01:38] willemarcel commented on #272
https://github.com/mapbox/osmcha-frontend/commit/861550f4f4feac4c4fd10e5ac41aefe75f5c4bd8

[2018-04-03 01:43] willemarcel commented on #285
@govvin I think you got an example that has only one changeset registered, but it seems to be working properly. Other example: https://osmcha.mapbox.com/changesets/57500537?filters=%7B%22comment%22%3A%5B%7B%22label%22%3A%22fbc932%22%2C%22value%22%3A%22fbc932%22%7D%5D%2C%22date__gte%22%3A%5B%7B%22label%22%3A%222018-01-01%22%2C%22value%22%3A%222018-01-01%22%7D%5D%7D

If you have another changesets t

[2018-04-03 02:28] govvin commented on #285
Thank you for checking this out @willemarcel . I confirm that your link works fine.

I wonder why [this](https://osmcha.mapbox.com/filters?filters=%7B%22comment%22%3A%5B%7B%22label%22%3A%22b73404%22%2C%22value%22%3A%22b73404%22%7D%5D%2C%22date__gte%22%3A%5B%7B%22label%22%3A%222018-01-01%22%2C%22value%22%3A%222018-01-01%22%7D%5D%7D) works,  while [this](https://osmcha.mapbox.com/?filters=%7B%22comm

[2018-04-03 02:32] govvin commented on #285
I noticed that the node that was created on that [changeset](https://www.openstreetmap.org/node/5513564021) was subsequently deleted. Should that affect the results?

[2018-04-03 10:37] tridip1931 commented on #218
@roadgeek @willemarcel
I cannot reproduce this bug in Safari 11.0.1

Initially my hunch was bug was due to inconsistent z-index, looks this was fixed. Are we good to close?

[2018-04-03 12:09] tridip1931 opened #286 "Leaderboard in OSMCha"
## I'm submitting a feature request

## *Brief Description*
In order to promote more mapping in OSM and more importantly enhancing community efforts for validation of bad changesets, we are suggesting to create leaderboards for OSMCha.

## What is the motivation / use case for this feature?
Increase validation engagement on OSM through OSMCha

## What  is the current behaviour, (attach relevant sc

[2018-04-03 12:13] willemarcel commented on #218
thanks, closing...

[2018-04-03 12:13] #218 closed

[2018-04-03 12:34] willemarcel commented on #285
It's really strange... I tested other filters and other comment texts along with the Philippines location and everything worked well, but this one is failing... I'll try to investigate it deeper in the future.

[2018-04-03 16:47] aawiseman opened #287 "Check for non-square buildings"
## I'm submitting a _feature request_

## *Brief Description*
A flag for buildings that have corners that aren’t 90 degrees

[2018-04-04 04:16] zzptichka commented on #281
Appears to be stuck again

[2018-04-04 05:41] amishas157 commented on #281
Osmcha is undergoing some fluctuations at server side. Working on fixing it. @zzptichka

[2018-04-06 14:07] Marc-marc-marc opened #288 "missing tag changes"
## I'm submitting a bug report

## *Brief Description*
https://osmcha.mapbox.com/changesets/57838384
this changeset create several way that have somes tags

## What  is the current behaviour, (attach relevant screenshots) ?
the "tag changes" tab said "No tags were changed in this changeset."

## What  is the expected behaviour ?
list added tags

## How do we replicate the issue ?
1. clic on https:

[2018-04-06 16:46] willemarcel commented on #288
The aim of this tab is to show strictly "tag changes", so objects created or deleted will never be listed on this tab. Only objects that were modified and lost tags or had changes in the tag values.

[2018-04-09 00:59] jremillard opened #289 "Use osm-changeset-classification for flagging bad changesets?"
I'm submitting a feature request

My deep learning changeset classifier at https://github.com/jremillard/osm-changeset-classification is close to working. Are you interested in using it? It can detect imports, SPAM, bad tagging.

[2018-04-09 12:46] willemarcel commented on #289
Hi @jremillard

Congratulations for the project! It's always good to see OSM QA projects.

Are the results of your changeset classifier available in some place? I would need to see how effective it is before discussing with the team about it.

[2018-04-09 23:16] jremillard commented on #289
I am still working on the project. Currently I am getting 95% validation accuracy, using this much data.

Import - 871 changesets
OK - 8201 changesets
SPAM - 322 changesets
Tagging Error - 213 changesets

The changests are categorized in the trainingdata\changesets.csv file. If you have a set of validation changesets numbers for the underlying detector in osmcha, I would love to have them. Honestl

[2018-04-10 20:53] batpad commented on #289
@jremillard this looks great! I know @bkowshik was working on https://github.com/mapbox/gabbar which attempted to use classification from osmcha to train a model on various attributes. Hopefully you two can connect on both datasets used and approaches.

I like your approach of trying to stick to 2 fairly simple to understand classifications of "Spam" and "Imports" and the results look great!

You

[2018-04-10 20:57] batpad commented on #289
For the initial question of using the classifier on OSMCha - again, I'd suggest doing the classification on your end and then use the OSMCha API to post "suspicious reasons" to OSMCha - this seems like interesting work and I'd be curious / interested to see something like this running on an on-going basis and see what the results look like (and feeding potential human review on osmcha back into th

[2018-04-23 08:38] #272 closed

[2018-04-23 08:38] #288 closed

[2018-04-23 08:44] willemarcel commented on #221
Now that we have a comment feature inside OSMCha, I believe we can close it. Feedback can be sent by a comment.

[2018-04-23 08:44] #221 closed

[2018-04-23 08:52] willemarcel commented on #193
We had some problems detecting new users in the past, but I believe it's fixed now.

[2018-04-23 08:52] #193 closed

[2018-04-25 21:40] willemarcel commented on #264
Started working on that in https://github.com/mapbox/osmcha-frontend/commit/3e7f7d38000d5d688919288747bb1ba552eaca7f

[2018-04-27 18:01] lakedistrictOSM opened #291 "building=pavilion flags "Invalid key value combination""
## I'm submitting a bug report

## *Brief Description*
Buildings tagged with `building=pavilion` get incorrectly flagged with "Invalid key value combination"
Wiki page: https://wiki.openstreetmap.org/wiki/Tag:building=pavilion
Also listed at: https://wiki.openstreetmap.org/wiki/Key:building

## What  is the current behaviour ?
Changeset is flagged with "Invalid key value combination" if it include

[2018-04-30 12:11] tridip1931 commented on #165
I am going ahead with the following implementation detailed below. Please feel free to raise questions if you see fit.

![00-mapview](https://user-images.githubusercontent.com/7458983/39426443-82de02a0-4c9d-11e8-80e6-692c72772325.png)
![01-mapview](https://user-images.githubusercontent.com/7458983/39426444-831090d0-4c9d-11e8-9cd5-1576ad717700.png)

[2018-04-30 13:15] willemarcel commented on #165
@tridip1931 Would the heatmap use the data from the changesets bbox right? We don't have access to the features location in the changeset list. So the only data available is the changesets bbox. I like this solution to high zoom levels, When we have very disperse changesets. In low zoom levels, I believe it would be more useful to show the changeset bbox.

[2018-04-30 13:42] tridip1931 commented on #165
Thanks @willemarcel for the feedback. We can try both.
I just discussed this with @planemad and 1 concern he raised was if we have big bbox(like country/continent level) it does not make sense to show it as big cluster.

For now I can try bbox for higher zoom level and as user goes to lower level, we can use clusters.

[2018-05-04 16:45] lakedistrictOSM commented on #291
`natural=tree_stump` also gets this flag (https://wiki.openstreetmap.org/wiki/Tag:natural%3Dtree_stump)

[2018-05-07 13:02] willemarcel opened #293 "Remove user metadata for unauthenticated users"
We will need to remove all user metadata from the frontend to unauthenticated users, following the GDPR rules, so it will have some impacts on the layout of OSMCha.

@rasagy @tridip1931 As we will not show the usernames to unauthenticated users, we need to think what we put in this place.

[2018-05-07 13:25] tridip1931 commented on #293
_Thinking out loud._

If someone uses OSMCha without signing in, following features might become obsolete
- user profile
- saved filters
- discussions
- user information widget
- changeset details
- comments template

Should we make it compulsory to sign-in?

[2018-05-08 18:39] willemarcel commented on #293
@tridip1931 not everything will be obsolete. The changeset details have other useful information beyond the username. The changeset visualization is useful as well.

We really need to hide the discussions. The user profile, saved filters and comments template only works with the user logged in.

Make it compulsory to sign-in wouldn't be a first option to me, but what worries me is that we would ne

[2018-05-09 09:36] zetx16 opened #294 "Make title and description of rss more informative"
## I'm submitting a feature request

## *Brief Description*
Improveds **rss** title and description

## What  is the current behaviour?
Title: `Changeset <number> by <user-name>`
Description:
[code]

## What  is the expected behaviour?
Title: `<user-name>: <comment>`
Description:
[code]

[2018-05-09 09:38] willemarcel commented on #294
Very good suggestion, @zetx16 !! I'll implement it!

[2018-05-22 19:24] bhousel opened #296 "User's profile is sometimes empty"
## I'm submitting a bug report

When looking at this changeset:  https://osmcha.mapbox.com/changesets/50114155
I see @geomantic's info (Steven Johnson)
(Mac OS X, Chrome Version 66.0.3359.170 (Official Build) (64-bit))

<img width="1180" alt="screenshot 2018-05-22 15 23 13" src="https://user-images.githubusercontent.com/38784/40385292-162c3d82-5dd4-11e8-9eb1-216fb46803c8.png">

But when he tries t

[2018-05-22 19:29] bhousel commented on #296
Investigating "blocked by client" error in dev console - this seems to be caused by an extension that is blocking access to OSM.. cc @geohacker

This was caused by [Privacy Badger](https://www.eff.org/privacybadger) extension..

Closing (but hopefully useful in case somebody else lands here)

[2018-05-22 19:29] #296 closed

[2018-05-22 20:28] geohacker opened #297 "Import summary stats for a user from Missing Maps?"
## I'm submitting a _(feature request)_

## Import numbers from Missing Maps for the user
![image](https://user-images.githubusercontent.com/371666/40388110-9e1e2928-5ddc-11e8-8bcf-4d7fd96e3ec0.png)

These highlevel numbers are really useful to see directly in the user pane in OSMCha.

## What is the motivation / use case for this feature?

After chatting with  @geomantic @bhousel at the OSM US ha

[2018-05-22 20:42] mojodna commented on #297
@geohacker the user endpoint looks well-covered by indexes, so it seems appropriate to me. @dalekunce for the 👍 / 👎, since ARC runs it.

[2018-05-23 14:17] dalekunce commented on #297
👍

@geohacker @geomantic @bhousel go for it. Let me know if you have any issues.

[2018-05-24 09:39] willemarcel commented on #297
Nice!! It'll be very good to have these stats on the user panel!

[2018-06-18 02:57] cliffordsnow opened #298 "Single nodes zoom in too far"
## I'm submitting a _bug report

## *Brief Description*
When a single node is added, osmcha zoom in way too far forcing the user to zoom out to get context to the node.

## What  is the current behaviour, (attach relevant screenshots) ?
![image](https://user-images.githubusercontent.com/3290977/41516223-4fb7b10a-7268-11e8-88cd-9982ba4b493c.png)

## What  is the expected behaviour ?
![image](https:

[2018-07-05 10:58] rasagy commented on #293
Love the progress on this @willemarcel! A few thoughts to continue our discussion here:

Should we completely remove the user name and let it be white space or should we replace it with a placeholder (say `OSM User`)? Right now just removing the user names from the left list leads to an awkward emptiness because the first line is no longer there:

<img width="839" alt="screenshot 2018-07-05 16 12

[2018-07-06 09:50] willemarcel commented on #293
Thank you very much for the feedback, @rasagy !

I agree with you. I was thinking to make what you suggested and maybe add a blur effect to communicate that there is a hidden information there.

I'm going to update it.

About the filters, the `users` and `checked_by` fields work only with authenticated users. If the user makes a query or load a saved filter, those fields are yet on the interface a

[2018-07-06 10:56] rasagy commented on #293
Sounds good! 👍

Ooh did not notice that. I feel this sounds okay because it’ll let AOI/filter links work perfectly.

I think this works well, the `OSM User` text is useful only when there’s nothing else to use in place of it.

[2018-07-09 10:58] adiatmad opened #299 "I can not access OSMCHA"
## I'm submitting a _(support or question)_

## *I can not open https://osmcha.mapbox.com/ from my Chrome on Windows*

![capture](https://user-images.githubusercontent.com/38268616/42446556-f6c8ec9a-83a0-11e8-93b7-b6aa0cf8fa40.JPG)

## Please tell us about your environment:
Chrome Version 67.0.3396.99 (Official Build) (64-bit)

## Other Information / context:
I can open using private mode

[2018-07-09 21:35] batpad commented on #299
@adiatmad can you confirm if this issue is reliably reproducible? Do you face the same issue in any other browser? I am unable to reproduce on Chrome + Ubuntu.

Since it works in private mode, can I ask you to try disabling any browser add-ons and see if that makes it work? If you "hard reload" the page with like ctrl-shift-R does it work?

This sounds pretty weird, but possibly some interesting e

[2018-07-09 21:46] willemarcel commented on #299
Hi @adiatmad!

I believe you tried to access OSMCha while we were updating our system, so your browse cached this nginx page. Could you try to delete the osmcha cache? Instructions: https://7labs.io/tips-tricks/clear-site-specific-cookies-cache.html#Clear_site-specific_cookies_and_cache_in_Chrome

[2018-07-10 03:20] adiatmad commented on #299
@batpad @willemarcel I try to your suggestion and succeed by prevent osmcha to save cookies. It works. Thank you.

[2018-07-10 03:20] #299 closed

[2018-07-11 15:07] awisemanapple opened #300 "Check for area=yes"
## I'm submitting a _feature request_

## *Brief Description*
A flag for when someone uploads area=yes , meaning an untagged feature (frequently a building)

[2018-07-11 15:09] awisemanapple commented on #300
oops, wrong account

[2018-07-11 15:09] #300 closed

[2018-07-11 15:14] aawiseman opened #301 "Check for area=yes"
## I'm submitting a _feature request_

## *Brief Description*
A flag for when someone uploads area=yes , meaning an untagged feature (frequently a building)

[2018-07-12 14:47] cliffordsnow opened #303 "osmcha.mapbox.com opens to Welcome to nginx!"
## I'm submitting a _(bug report/feature request/ support or question)_
bug report
## *Brief Description*

When attempting to open OSMCha, only Welcome to nginx! appears

## What  is the current behaviour, (attach relevant screenshots) ?

Just the page showing that nginx is installed
## What  is the expected behaviour ?

open to the osmcha page to look at changesets etc.
## When does this occur ?

[2018-07-12 18:24] willemarcel commented on #303
@cliffordsnow thanks for the report!

This seems to be happening only in Chrome browsers. We are searching for a solution.

[2018-07-12 18:30] gscscnd commented on #303
I’ve just logged in using Firefox and was greeted with “Welcome to nginx!” on next visit.

[2018-07-13 07:39] NonnEmilia commented on #303
I tried with Firefox and I saw the nginx welcome. I cleared my cache and now is gone.

[2018-07-13 08:02] kepta commented on #303
@willemarcel after a big back n forth, I feel the server behaviour has changed a bit and the service worker wasn't expecting that.

The service work expects the endpoints
- `https://osmcha.mapbox.com`
- `https://osmcha.mapbox.com/`
- `https://osmcha.mapbox.com/index.html`
I believe the server is serving the `nginx` page when I do
[code]
If we can make all the above url serve the same `index.html`

[2018-07-13 09:38] willemarcel commented on #303
@kepta thank you a lot! there is really a problem with the index.html url

I'm working on this now.

[2018-07-13 11:06] willemarcel commented on #303
@cliffordsnow @gscscnd @NonnEmilia We have fixed the problem. Maybe you will need to clear the osmcha cache to get this updated: https://7labs.io/tips-tricks/clear-site-specific-cookies-cache.html#Clear_site-specific_cookies_and_cache_in_Chrome

I'm studying a way to force the browser to refresh. Thank you for the reports and sorry for the inconvenience

[2018-07-13 14:09] willemarcel commented on #303
All issues with OSMCha have been solved. If you yet see some error, just reload the page.

[2018-07-13 14:09] #303 closed

[2018-07-13 14:09] willemarcel commented on #299
All issues with OSMCha have been solved. If you yet see some error, just reload the page.

[2018-07-23 10:45] willemarcel commented on #293
The first version is deployed to the staging server: https://osmcha-django-staging.tilestream.net/changesets/52383706?aoi=773d140f-1ccb-4f07-b893-6fe81ac42b75

[2018-07-23 12:04] rasagy commented on #293
The changes in the left list & button styles look great, thanks for working on this @willemarcel 🙇

![image](https://user-images.githubusercontent.com/1117531/43075409-6318cc82-8e9e-11e8-880f-e90f96339e8b.png)

Only question is around the default filter — if I go to the homepage or go to filters > `Apply` without setting anything new, I don’t get any changesets in the list. Adding today’s date in

[2018-07-23 14:13] willemarcel commented on #293
It happens because we stopped adding changesets to staging database a year ago.

[2018-07-25 13:29] lukasmartinelli opened #304 "Cannot read property toString of null"
I'm submitting a bug.

## *Brief Description*

When opening OSMCha for the first time whether logged in or not I get an error `Cannot read property toString of null`.

## What  is the current behaviour, (attach relevant screenshots) ?

<img width="946" alt="osm_changeset_analyzer" src="https://user-images.githubusercontent.com/1288339/43203700-eae2baa2-8fec-11e8-8270-43a82517399a.png">

## How do

[2018-07-25 13:45] batpad commented on #304
@lukasmartinelli does this happen only for very recent changesets? Like changesets  within the past 2-3 minutes?

I think the problem here is a timing mismatch between when the changeset information reaches OSMCha and the entire changeset representation information being available via the Overpass instance being used or the s3 cache of "real changesets".

I think this has been a problem for quite

[2018-07-26 15:10] willemarcel commented on #304
Thanks @lukasmartinelli and @batpad, I'll improve this error message.

@amishas157 is it possible to delay the changeset ingestion in a way it would be always behind real-changesets?

[2018-07-28 16:04] willemarcel opened #305 "Add 'Save as new' on filters"
## I'm submitting a _feature request_

## *Brief Description*
Currently if the user loads and modifies a saved filter and save it, the filter will be overwritten. I listened from a user that it would be very useful to have the possibility to `Save as New`.

## What  is the current behaviour, (attach relevant screenshots) ?
The user can apply and then save to generate a new filter, but it should ha

[2018-07-29 10:26] willemarcel opened #306 "Change "bad" to "needs improvement"?"
On SOTM, a user suggested to change the changeset verification term from `Bad` to `Needs improvement`. I agree that "bad" is too much negative, but a long term will impact the frontend interface. So we should think about it... @batpad @rasagy

[2018-08-04 16:37] cliffordsnow commented on #306
I was that person that suggested dropping the bad to something like Needs Improvement. One option would be to drop the good/bad and just go with the checkbox tags already there. I'd also like to see if we can categorize the edit with items like didn't square bldg, wrong or omitted tags, used abbreviated street names, incorrect classification of streets, etc. By classifying errors we might be able

[2018-08-13 10:50] Piskvor opened #307 "changesets fail to load, intermittently"
## I'm submitting a _bug report_

## *Brief Description*

1. Open any changeset in OSMCha (manifests randomly - when something is overloaded, I guess?) - number of edits or bounding box size doesn't seem to be related.
2. Changeset starts loading

## What  is the current behaviour, (attach relevant screenshots) ?
3. Changeset never loads, neither does the map
4. Map eventually turns pink and a not

[2018-08-13 11:12] willemarcel commented on #307
Thanks for reporting @Piskvor ! We already have noticed it and right now the failing changesets are being repaired.

[2018-08-16 08:55] willemarcel commented on #307
Now it's solved: https://osmcha.mapbox.com/changesets/61592375/

[2018-08-16 08:55] #307 closed

[2018-08-19 21:52] b-jazz opened #309 "Filter date range format should use ISO-8601 (YYYY-MM-DD)"
## I'm submitting a _(/feature request/)_

## *Brief Description*
Dates are presented as DD/MM/YYYY which is confusing to me since our locale uses MM/DD/YYYY. Since this is an internationally used website, you should consider using the international standard (ISO-8601) of YYYY-MM-DD.

## What is the motivation / use case for this feature?
Prevent confusion. Adhere to standards.

## What  is the cu

[2018-09-04 11:16] LoshkarevSergey opened #311 "I want to receive notifications about edits on the map in the places I'm dealing with, as there are so many incorrect changes. Is it possible?"
## I'm submitting a _(bug report/feature request/ support or question)_

## *Brief Description*

## What is the motivation / use case for this feature?

## What  is the current behaviour, (attach relevant screenshots) ?

## What  is the expected behaviour ?

## When does this occur ?

## How do we replicate the issue ?

1.
2.
3.
4.

## Please tell us about your environment:

## Other Information /

[2018-09-06 11:17] andrewharvey opened #312 "Add legend or other hints to show which object is old and which is new"
## I'm submitting a feature request

## *Brief Description*
To make osmcha easier for new users, a legend or other hints showing which shade of yellow/orange is the new version vs which is the old version.

## What is the motivation / use case for this feature?
When a feature is moved, at the moment it's unclear how it changed as there's no legend or other hints explaning which is the old vs. whic

[2018-09-06 12:06] andrewharvey commented on #306
Sometimes a changeset has both good and bad changes (mostly accidentally bad changes) it would be good to be able to tag to reflect that.

:+1: to tracking the cause of issues, eg. issues caused by https://github.com/openstreetmap/iD/issues/4776

I also agree that "Bad" from a social/community point of view may not be the best choice, it could easily load to contributors on the receiving end feeli

[2018-09-06 12:11] willemarcel commented on #312
Hi @andrewharvey

We already have a legend:

![](https://user-images.githubusercontent.com/8921295/35940114-236f8314-0c1c-11e8-9649-47c1f077ab02.png)

I'll think if there is a way we could make it more visible.

[2018-09-06 12:21] andrewharvey opened #313 "bookmark changesets for later followup"
## I'm submitting a _feature request_

## *Brief Description*
Sometimes reviewing a changset can lead to leaving a comment for the mapper, to give them a chance to correct mistakes themselves.

It would be nice to be able to bookmark changesets so as the reviewer if I don't hear back from them in a few days I'm reminded to make the corrections myself.

[2018-09-06 12:32] andrewharvey commented on #312
My mistake! Sorry I should have looked a bit harder.

[2018-09-06 12:32] #312 closed

[2018-09-06 12:34] willemarcel commented on #313
@andrewharvey Very interesting suggestion! We will consider it in the future plans.

[2018-09-24 03:50] adiatmad opened #314 "Export My Filter's Result"
Hello, is it possible to export OSMCha results based on my filter settings?
Thank you in advance.

[2018-09-25 12:50] willemarcel commented on #314
Hi @adiatmad

Yes, we have an API that you can use to export the filter results as a JSON file. For example:  https://osmcha.mapbox.com/api/v1/aoi/71247014-abbf-4253-8093-2a2afdda4169/changesets/?format=json

Replace `71247014-abbf-4253-8093-2a2afdda4169` by your AOI uid.

[2018-09-26 02:44] #314 closed

[2018-09-26 18:51] #311 closed

[2018-09-29 05:42] tordans opened #315 "Filter option to only show what actually happened in my bbox (cut/clip filter for bbox?)"
This might be a bug report or feature request or support or question; I dont know yet.

## My UseCase

- I re-visit an area every few month.
- I want to be able to see _"what changed in this area since I was here last"_

The goal is, to be up to date to my immediate surroundings.

And with that learn stuff. Or fix stuff. Or extend edits that where done by other since I was last here.

## Behaviour

[2018-10-02 17:53] willemarcel commented on #315
Hi @tordans

The solution to this is to set a value to the **BBox size bound** field. It will filter changesets that have a bbox area lower than X times the area of your BBox or geometry filter. For example, if the geometry you defined in your filter has an area of 1 degree and you set the 'BBox size bound' to 2, it will filter the changesets whose bbox area is lower than 2 degrees.

[2018-10-16 02:49] naoliv opened #316 "Flag changesets with a custom imagery layer"
## I'm submitting a _feature request_

## *Brief Description*
osmcha should flag changesets where the user did use a custom imagery layer.

## What is the motivation / use case for this feature?
For example, in this changeset https://www.openstreetmap.org/changeset/59181955 the user did use a custom layer where the imagery is actually from Google maps (and street names were illegaly copied).

Havi

[2018-10-22 15:49] willemarcel opened #318 "Add changeset flag for reverted changesets"
![](https://user-images.githubusercontent.com/8921295/45679045-67081f80-bb55-11e8-9071-6f82c7844c62.png)

[osm-revert-changesets](https://www.npmjs.com/package/osm-revert-changesets) is an npm module that could be used to identify reverted changesets on OpenStreetMap. I think the best place for it is in OSMCHA. The module could be used by running it through the list of incoming changesets and mark

[2018-10-22 15:50] willemarcel opened #319 "Process deleted accounts"
- [ ] Write a function to process the deleted accounts and rename the user fields of the changesets to `user_<user_id>`
- [ ] Set a way to execute that function daily

Planet deleted account list: https://planet.openstreetmap.org/users_deleted/

[2018-10-22 16:59] willemarcel opened #320 "Allow to attach links to reasons in the data model"
This would allow us to explicitly explain the all the reasons in OSMCha.
Making them less ambiguous. e.g. when creating a reason you can also put a link there.

![](https://user-images.githubusercontent.com/1288339/43833244-c52789be-9b27-11e8-96c0-3f1698415085.png)

by @lukasmartinelli

[2018-10-22 17:25] willemarcel opened #321 "psycopg2.InternalError: GEOSIntersects: TopologyException"
From the gunicorn log:

[code]

[2018-10-22 17:28] willemarcel opened #322 "Create suspicion_rate method in changesets"
Analyse the Suspicion Reasons and create a suspicion rate, in order to make it possible the prioritization of changesets.

The suspicion rate should consider:

- number of features created/modified/deleted
- number of features flagged
- the suspicion rate of each Suspicion Reason